.index-label{
    border-top: 1px solid var(--gray);
    padding: 10px 15px;
    margin: 40px 15px 15px 10px;
    border-bottom: 1px solid var(--gray);
    font-weight: 600;
}
.search-style{
    --border-radius: 10px;
    padding: 5px 0px;
  }