<app-page-header [config]="headerConfig">
  <div class="d-flex flex-justify-center">
    <ion-searchbar class="top-padding search-style"  debounce="1000" placeholder="{{'MENTOR_SEARCH_PLACEHOLDER' | translate}}"(click)="onSearch()"></ion-searchbar>
  </div>
</app-page-header>
<ion-content >
  <div *ngIf="isLoaded">
    <div *ngFor="let mentor of mentors">
      <div class="index-label">
        {{mentor.key}}
      </div>
      <ion-grid >
        <ion-row class="d-flex ">
          <ion-col *ngFor="let value of mentor.values" padding size-xs="12" size-sm="12" size-md="6" size-lg="4" align-self-stretch>
            <app-mentor-card class="mentor-card" [data]="value" (onClickEvent)="eventAction($event)">
            </app-mentor-card>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
  </div>
  <div *ngIf="!mentorsCount && isLoaded">
    <app-no-data-found [messageHeader]="'NO_MENTORS_AVAILABLE'"> </app-no-data-found>
  </div>
  <ion-infinite-scroll #infinitescroll [disabled]="mentors.length==0" (ionInfinite)="loadMore($event)">
    <ion-infinite-scroll-content loadingSpinner="bubbles">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
<!-- <ion-footer *ngIf="mentors?.length">
  <ion-button class="view-more" expand="block" (click)="loadMore()"
    *ngIf="mentorsCount > mentors?.length">
    {{ 'LOAD_MORE' | translate }}
  </ion-button>
</ion-footer> -->