.download{
    display: grid;
    align-items: center;
    justify-content: flex-end;
    font-weight:700;
    color: #6da6f2;
    text-decoration: underline;
    cursor: pointer;
  }

  .close-icon{
    justify-content: end;
    align-items: end;
    font-size: 24px;
    padding: 8px;
    margin: 0;
  }