<ion-content>
@if (enrolledMenteeList()) {
<div>
  <div class="close-icon" (click)="closePopup()">
    <ion-icon name="close"></ion-icon>
  </div>
  @if (isMobile()) {
    @if (enrolledMenteeList().length) {
    <div>
      <div class="mob-download">
        <div class="download" (click)="onClickDownload()">{{ download | translate}}</div>
      </div>
      @for (data of enrolledMenteeList(); track data?.id || data?.email || data?.name) {
      <div class="card-wrapper">
        <div class="card-header d-flex flex-justify-center">{{data.name}}{{data.organization ? ', ' + data.organization : ''}}</div>
        <div class="card-data d-flex flex-justify-center">{{data.email}}</div>
      </div>
      }
    </div>
    } @else {
    <div>
      <app-no-data-found [messageHeader]="noDataMessage">
      </app-no-data-found>
    </div>
    }
  } @else {
  <div>
    <app-generic-table [headingText]="headingText" [columnData]="columnData" [tableData]="enrolledMenteeList()" [showPaginator]="false">
      <div class="download" (click)="onClickDownload()">{{ download | translate}}</div>
    </app-generic-table>
  </div>
  }
</div>
}
</ion-content>
