<ion-card (click)="onCardClick(data)" class="session-card">
  <ion-grid class="ion-no-padding">
    <ion-row>
    <div class="card-avatar">
      <img *ngIf="!data?.image || data?.image==''; else Img; let image" class="thumbnail-image"
        src="../../../../assets/prof-img/user.png" />
      <ng-template #Img>
        <img class="thumbnail-image" src="{{data?.image}}" />
      </ng-template>
    </div>
    <ion-col padding size-xs="8" size-sm="10" size-md="8" size-lg="7">
    <div>
      <h5 class="text-align">{{data?.name || data?.title}}</h5>
      <div class="area-of-expertise-container">
        <div class="margin-btm-10 align-area-of-expertise" *ngIf="data?.competency?.length">
          <span class="ion-margin-top" *ngFor="let label of data?.competency;  let isLast=last">
            <ion-label>{{label?.label}}{{isLast ? '' : ', '}} </ion-label>
          </span>
        </div>
      </div>
    </div>
  </ion-col>    
  </ion-row>
</ion-grid>
  <ion-label class="card-button" position="fixed">{{"VIEW_PROFILE"|translate}} <ion-icon class="icon-position" name="caret-forward"></ion-icon></ion-label>
</ion-card>
