<app-page-header [config]="headerConfig"></app-page-header>
<ion-content class="ion-padding">
  <div class="align-content-center">
    <div class="mx-10">
      <app-generic-header [labels]="labels"></app-generic-header>
    </div>
    <section>
      <div class="otp-field">
        <ng-otp-input (onInputChange)="onOtpChange($event)" [config]="config" #ngOtpInput></ng-otp-input>
      </div>
      <p class="hint-message"> {{"YOU_WILL_RECIEVE_OTP_IN_YOUR_EMAIL" | translate}}</p>
    </section>
    <section>
      <div class="d-flex flex-justify-center flex-align-items-center">
        <ion-button [ngClass]="{'my-10': true, 'disabled': !isEnabled, 'onboard-button':true}" [disabled]="!isEnabled"
          (click)="onSubmit()" shape="round">
          {{'VERIFY_AND_LOGIN'|translate}}
        </ion-button>
      </div>
    </section>
    <div class="d-flex flex-justify-center flex-align-items-center resend-otp">
      <div class="counter" *ngIf="countDownTimer">{{'TRY_AGAIN_AFTER'|translate}} {{countDownTimer}}
        {{'SECONDS'|translate}}</div>
      <p class="underline" (click)="enableResendOtp && resendOtp()">{{"RESEND_OTP"|translate}}</p>
    </div>
  </div>
</ion-content>