.resend-otp{
    font-size: 14px;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 0px;
    padding-bottom: 0px;
  }
.hint-message{
  font-size:small;
  margin-top: 20px;
}
ion-button{
  width: 80%;
  height: 45px;
  font-weight: bold;
}
.form-section{
  margin-top: 10px;
}
.underline{
  text-decoration: underline;
  text-decoration-color: rgb(108, 147, 206);
  color: rgb(108, 147, 206);
  text-align: center;
}
.disabled{
  --background: rgb(49, 49, 51);
}
.label{
  margin-top: -3px !important;
  padding-top: 0px !important;
  text-decoration: underline;
  text-align: center;
  font-size: 13px;
}