<ion-header class="header">
  <ion-toolbar color="{{headerConfig?.headerColor}}">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="start">
      @let details = userDetails();
      <div class="flex-box" (click)="goToProfile()">
        <img
          [src]="profileImage()"
          alt="Profile Picture"
          class="profile-pic"
        />
        <div class="d-flex flex-column">
          <span class="name-text">{{details?.name}}</span>
          <span style="font-size: 12px">{{details?.user_roles}}</span>
        </div>
      </div>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="chat-window">
  @let currentStatus = status();
  @if (currentStatus !== 'ACCEPTED') {
    <div>
      <div class="chat-card">
        @if (currentStatus === 'REQUESTED') {
          <div class="d-flex flex-align-items-flex-end">
            <img
              [src]="profileImage()"
              alt="Profile Picture"
              class="chat-pic"
            />
            <div class="chat-card-content">
              {{info()?.meta?.message}}
              <span> {{info().created_at | date : 'hh:mm a'}} </span>
            </div>
          </div>
        }
      </div>
      <div
        class="message-info"
        [style.bottom]="messageInfoBottom()"
      >
        @if (statusMessage(); as msg) {
          <div class="flex flex-justify-center">
            <div class="info-container">
              <ion-icon name="information-circle"></ion-icon>
              <span>
                {{ msg.title | translate: { name: userDetails()?.name } }}
              </span>
              <p>
                {{ msg.subText | translate: { name: userDetails()?.name } }}
              </p>
            </div>
          </div>
        }
        @if (showCurrentStatusActions()) {
          <div class="action-buttons">
            <ion-button size="medium" color="light" (click)="acceptRequest()">
              <ion-icon name="checkmark-outline" color="success"></ion-icon>
              {{'ACCEPT' | translate}}
            </ion-button>
            <ion-button size="medium" color="light" (click)="rejectConfirmation()">
              <ion-icon name="close-outline" color="danger"></ion-icon>
              {{'REJECT' | translate}}
            </ion-button>
          </div>
        }
      </div>
    </div>
  }
</ion-content>
@if (showMessageInput()) {
  <div style="background-color: white;">
    <div>
      <div class="msg-limit"> {{message()?.length}} / {{messageLimit}}
      </div>
      <div class="p-3 border-t flex items-center psfixed">
        <input type="text" [ngModel]="message()" (ngModelChange)="message.set($event)" placeholder="{{'TYPE_MESSAGE_HERE' | translate}}"
          class="flex-1 border rounded-full px-4 py-3 text-lg focus:outline-none focus:ring-2 focus:ring-blue-500"
          (keyup.enter)="sendRequest()" />
        <ion-fab-button
          size="small"
          (click)="sendRequest()"
          style="width: 50px; height: 45px"
        >
          <ion-icon name="send" style="padding: 10px"></ion-icon>
        </ion-fab-button>
      </div>
    </div>
  </div>
}
