<app-page-header [config]="headerConfig"></app-page-header>
<ion-content  class="ion-padding">
  <ion-toolbar>
    <ion-searchbar class="top-padding" placeholder="" [(ngModel)]="searchText"></ion-searchbar>
    </ion-toolbar>
  <div *ngFor="let result of results">
    <app-session-card [data]="result" [action]="result.type=='session' ? 'ENROLL' : 'VIEW_PROFILE'" (onClickEvent)="eventAction($event)"> </app-session-card>
  </div>
  <div *ngIf="noResults">
    <app-no-data-found [message]="'SORRY_NO_RESULTS'"> </app-no-data-found>
  </div>
</ion-content>
<ion-footer class="ion-no-border">
  <ion-button expand="full" (click)="search()">
    <ion-icon name="search" class="ion-margin-right"></ion-icon> {{"SEARCH" | translate}}
  </ion-button>
</ion-footer>