.search-style{
    --border-radius:25px;
    --icon-color:var(--ion-color-primary);
    font-size:16px;
    height: 36px;
    max-width: 500px;
}
.close-button {
    font-size: 36px;
    margin: 15px;
}
.col-width-25 {
    width: 25%;
}