.search-style{
    --border-radius:25px;
    --icon-color:var(--ion-color-primary);
    font-size:16px;
    height: 36px;
    max-width: 500px;
}
.close-button {
    font-size: 36px;
    margin: 15px;
    cursor: pointer;
}
.col-width-25 {
    max-width: 25%;
}

.card-wrapper {
    padding: 10px;
    margin: 10px;
    background-color: #ffffff;
    border: 1px solid #eaeaea;
    border-radius: 14px;
  }

  .primary-color{
    color: #ffffff;
    --background: var(--ion-color-primary);
    height: 30px;
    padding: 0%;
  }
  .white-color{
    --background: white;
    color: #5e5d5d;
    height: 30px;
    padding: 0%;
  }
  .card-data {
    margin: 0px;
    padding: 8px;
  }
  .card-header {
    font-weight: bold;
    padding: 8px;
  }
  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .search-col {
    flex: 11;
    margin-left: 5px;
  }
  
  .close-col {
    flex: 1;
    text-align: end;
  }

  .card-button {
    width: 300px;
  }

  .scrollable-table {
    padding-bottom: 50px;
    min-width: 700px;
    height: 500px;
    overflow: auto;
    overflow: scroll;
  }

  .scrollable-filter{
    padding-bottom: 70px;
    min-width: 200px;
    height: 500px;
    overflow: auto;
    overflow: scroll;
  }
  
