<ion-card class="session-sqr-card" (click)="onCardClick()">
  <ion-card-content>
    <ion-card-title>
      <div class="ellipsis">
        {{data.title | titlecase}}
      </div>
    </ion-card-title>
    <ion-card-subtitle>
      <div class="ellipsis">
        {{data.description}}
      </div>
    </ion-card-subtitle>
    <ion-card-subtitle>
      {{'DATE' | translate}} : {{data?.startDate | date: 'dd/MM/YYYY'}}
    </ion-card-subtitle>
  </ion-card-content>
  <ion-button color="primary" size="small" shape="round" class="btn-width-small ion-text-capitalize"
    [disabled]="data.status=='completed'"
    (click)="$event.stopPropagation();action(data,'joinAction')">
    {{'JOIN' | translate}}
  </ion-button>
</ion-card>