.no-data{
    margin: 10px auto;
    text-align: center;
    .title{
      margin-top: 10px;
      margin-bottom: 10px;
      color: var(--black);
      font-size: 14px;
      font-weight: bold;
    }
    .description{
      color: var(--grey-medium);
      width: 70%;
      font-size: 13px;
    }
  }
  img{
    margin-top: 10px;
    width: 130px;
  }