<ion-header class="header">
  <ion-toolbar color="{{headerConfig?.headerColor}}">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="start">
      <div class="flex-box">
        <img [src]="info?.user_details?.image || '../../../../assets/prof-img/user.png'" alt="Profile Picture" class="profile-pic">
        <div class="d-flex flex-column">
          <span style="font-weight: bold;">{{info?.user_details?.name}}</span>
          <span style="font-size: 12px;">{{info?.user_details?.user_roles}}</span>
        </div>
      </div>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content class="chat-window">
  <div class="chat-card">
    <div class="d-flex flex-align-items-flex-end" *ngIf="info?.status == 'REQUESTED'">
      <div class="chat-card-content">
       {{info?.meta?.message}}
        <span>
         {{info.created_at | date : 'hh:mm a'}}
        </span>
      </div>
      <img [src]="info?.user_details?.image || '../../../../assets/prof-img/user.png'" alt="Profile Picture" 
           class="chat-pic">
    </div>
  </div>

  <div  class="message-info" [ngStyle]="{'bottom': info?.is_initiator ? '100px' : '20px'}">
  <div class="flex flex-justify-center">
    <div class="info-container">
      <ion-icon name="information-circle"></ion-icon>
      <span>
        {{ messages[info?.status]?.title | translate: { name: info?.user_details?.name } }}
      </span>
      <p>
        {{ messages[info?.status]?.subText | translate: { name: info?.user_details?.name } }}
      </p>
    </div>
    
  </div>
  <div style="display: flex;
  justify-content: space-evenly; margin-top: 15px;" *ngIf="!info?.is_initiator">
    <ion-button size="medium" color="light" (click)="acceptRequest()">
      <ion-icon name="checkmark-outline" color="success"></ion-icon> Accept
      </ion-button>
      <ion-button size="medium" color="light" (click)="rejectRequest()">
        <ion-icon name="close-outline" color="danger"></ion-icon>  Reject
        </ion-button>
  </div>
  </div>
</ion-content>
<ion-footer *ngIf="info?.is_initiator"> 
  <ion-toolbar>
    <div  class="flex-box ">
      <ion-input type="text" placeholder="Type a message..." [(ngModel)]="message"
                 style="    border-radius: 10px;
                 border: 1px solid #ccc;
                 padding: 8px;
                 padding: 0px 10px !important;
                 margin: 0px 10px !important;"></ion-input>
    <ion-fab-button size="small" (click)="sendRequest()" style="width: 50px; height: 40px;">
      <ion-icon name="send" style="padding: 10px;"></ion-icon>
    </ion-fab-button>
    </div>
  </ion-toolbar>
</ion-footer>
