<app-page-header [config]="headerConfig"></app-page-header>
<ion-content>
  <ion-grid>
    <ion-row class="d-flex flex-justify-center">
      <ion-col padding size-xs="12" size-sm="12" size-md="6" size-lg="6" align-self-stretch>
  <div class="align-content-center">
    <div class="mx-10">
      <app-generic-header [labels]="labels"></app-generic-header>
    </div>
    <div *ngIf="!showOtp">
      <section>
        <div *ngIf="siteKey" class="d-flex flex-justify-center">
          <re-captcha (resolved)="onCaptchaResolved($event)" [siteKey]="siteKey" ></re-captcha>
        </div>
      </section>
      <section>
        <div class="d-flex flex-justify-center flex-align-items-center">
          <ion-button [ngClass]="{'my-10': true, 'disabled': !recaptchaResolved && !enableGeneratetOtp, 'onboard-button':true}" [disabled]="!recaptchaResolved && !enableGeneratetOtp"
            (click)="onSubmitGenerateOtp()" shape="round">
            {{'GENERATE_OTP'|translate}}
          </ion-button>
        </div>
      </section>
    </div>
    <div *ngIf="showOtp">
      <section>
        <div class="otp-field">
          <ng-otp-input (onInputChange)="onOtpChange($event)" [config]="config" #ngOtpInput></ng-otp-input>
        </div>
        <p class="hint-message"> {{"YOU_WILL_RECIEVE_OTP_IN_YOUR_EMAIL" | translate}}</p>
      </section>
      <section class="t-and-c d-flex" *ngIf="this.actionType == 'signup'">
    
            
              <ion-item >
                <ion-checkbox label-placement="stacked" alignment="start" slot="start" class="check-box" (ionChange)="checkboxClick($event)"></ion-checkbox>
                <p class="t-and-c-text">{{"TERMS_AND_CONDITION"|translate}}
                  <a class='links'
                   [href]="privacyPolicyUrl" target="_blank">{{"PRIVACY_POLICY"|translate}}</a> & <a
                    class='links' [href]="termsOfServiceUrl" target="_blank">{{"TERMS_OF_SERVICE"|translate}}</a>
                </p>
              </ion-item>
            
      </section>
      <section>
        <div class="d-flex flex-justify-center flex-align-items-center">
          <ion-button [ngClass]="{'my-10': true, 'disabled': !checked  || !isEnabled , 'onboard-button':true}" [disabled]="!checked  || !isEnabled || !recaptchaResolved"
            (click)="onSubmit()" shape="round">
            {{'VERIFY_AND_LOGIN'|translate}}
          </ion-button>
        </div>
      </section>
      <div class="d-flex flex-justify-center flex-align-items-center resend-otp">
        <div class="counter" *ngIf="countDownTimer">{{'TRY_AGAIN_AFTER'|translate}} {{countDownTimer}}
          {{'SECONDS'|translate}}</div>
        <p class="underline" (click)="enableResendOtp && resendOtp()" [ngClass]="{'enable': enableResendOtp}">{{"RESEND_OTP"|translate}}</p>
      </div>
    </div>
    
  </div>
</ion-col>
</ion-row>
</ion-grid>
</ion-content>