<ion-content class="ion-padding">
  <app-generic-header [label1]="'TERMS_AND'" [label2]="'CONDITIONS'"></app-generic-header>
  <div *ngIf="items" class="text-config" [innerHtml]="items.controls[0].label | safeHtml"></div>
  <div class="check-box">
    <ion-row class="d-flex, flex-align-items-center check-box-row">
      <ion-col class='d-flex flex-align-items-center flex-justify-start' size="2">
        <ion-checkbox color='danger' (ionChange)='checked()'></ion-checkbox>
      </ion-col>
      <ion-col class='d-flex flex-align-items-center' size="10">
        <div>
          <ion-label *ngIf="items" [innerHtml]="items.controls[0].value"></ion-label>
        </div>
      </ion-col>
    </ion-row>
  </div>
</ion-content>
<ion-footer class="side-menu-footer">
  <ion-button expand="full" (click)="goToHome()" [disabled]="notChecked"> Agree & Continue
  </ion-button>
</ion-footer>