ion-label{
    font-size: 13px;
    margin-left: 0px;
}
.text-config{
    font-size: 15px;
    margin-bottom: 30px;
    line-height: 1.7;
}
.check-box-row{
    justify-content: space-evenly;
}
.header{
    margin-top: 30%;
}