<div class="modal-container">
  <div class="custom-pre-toolbar">
    <ion-title>
      {{
        heading | translate
      }}
    </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="dismissModal()">
        <ion-icon name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </div>

  <ion-content class="custom-content">
    <ion-item class="custom-input">
      <ion-label position="stacked">  {{"NAME" | translate}}</ion-label>
      <ion-input
        [(ngModel)]="name"
        [placeholder]="'ENTER_NAME' | translate"
        maxlength="50"
      >
      </ion-input>
    </ion-item>

    <ion-item *ngIf="type === 'link'" class="custom-input">
      <ion-label position="stacked">  {{"LINK" | translate}}</ion-label>
      <ion-input
        [(ngModel)]="link"
        [placeholder]="'ENTER_LINK' | translate"
        maxlength="50"
        (ionInput)="onLinkInput()"
        [debounce]="500"
      >
      </ion-input>
      <ion-text color="danger" *ngIf="showLinkError">
        {{ "INVALID_LINK" | translate }}
      </ion-text>
    </ion-item>
    <div class="pre-button-container">
      <ion-button
      fill="outline"
      shape="round"
      *ngIf="type === 'file' && !uploadedFile" 
      (click)="openFilePicker()"
        >
      <ion-icon name="add-circle-outline" style="margin-right: 8px;"></ion-icon>
      {{"ATTACH_FILE" | translate}}
        </ion-button>
    @if (uploadedFile) {
      <ng-container >
        <ion-chip  class="color-red">
          <ion-icon color="#fff" name="close-circle" (click)="removeFile()" class="remove-icon"></ion-icon>
          <ion-label class="capitalize file-name-ellipsis">{{uploadedFile.name}}</ion-label>
        </ion-chip>
      </ng-container>
    }
     
    </div>
    <input type="file" (change)="uploadCamera($event)" #fileUpload accept="image/*" capture="environment" hidden>
  </ion-content>

  <div class="modal-footer">
    <ion-buttons slot="end">
      <ion-button
        color="primary"
        fill="solid"
        [disabled]="!name || (type === 'link' && (!link || showLinkError)) || (type === 'file' && !uploadedFile)"
        (click)="saveLink()"
      >
        {{ "ADD" | translate }}
      </ion-button>
    </ion-buttons>
  </div>
</div>
