<app-page-header [config]="headerConfig"></app-page-header>

<ion-content>
  <div class="d-flex flex-justify-center">
    <ion-header>
      <ion-segment (ionChange)="segmentChanged($event)" [value]="segmentType">
        <ion-segment-button value="slot-requests" class="normal-case">
          <ion-label>{{ "SLOT_REQUESTS" | translate }}</ion-label>
        </ion-segment-button>
        <ion-segment-button value="message-requests" class="normal-case">
          <ion-label>{{ "MESSAGE_REQUESTS" | translate }}</ion-label>
        </ion-segment-button>
      </ion-segment>
    </ion-header>
  </div>
  <div [ngSwitch]="segmentType">
    <div *ngSwitchCase="'slot-requests'">
      <ion-grid >
        <ion-row class="d-flex ">
          <ion-col *ngFor="let value of slotRequests" padding size-xs="12" size-sm="12" size-md="6" size-lg="6" size-xl="4" align-self-stretch>
            <app-generic-card 
              [data]="value.user_details" 
              [meta]="{ isSent: value?.requestee_id === value?.user_details?.user_id, message: value?.meta?.message, timeStamp: '', resp: value }" 
              [buttonConfig]="slotBtnConfig" (onClickEvent)="onCardClick($event, value.id)">
            </app-generic-card>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
    <div *ngSwitchCase="'message-requests'">
      <ion-grid >
        <ion-row class="d-flex ">
          <ion-col *ngFor="let value of data" padding size-xs="12" size-sm="12" size-md="6" size-lg="6" size-xl="4" align-self-stretch>
            <app-generic-card 
              [data]="value?.user_details" 
              [meta]="{ isSent: value?.created_by === value?.user_id, message: value?.meta?.message, timeStamp: '' }" 
              [buttonConfig]="buttonConfig" (onClickEvent)="onCardClick($event)">
            </app-generic-card>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
  </div>
  <div *ngIf="segmentType === 'slot-requests' && !slotRequests?.length">
    <app-no-data-found [noResult]="noResult"> </app-no-data-found>
  </div>
  <div *ngIf="segmentType === 'message-requests' && !data?.length" >
    <app-no-data-found [noResult]="noResult"> </app-no-data-found>
  </div>
</ion-content>
