<app-page-header [config]="headerConfig"></app-page-header>

<ion-content scrollEvents="true">
  @let currentSegment = segmentType();
  @let cardConfig = mentorForm();
  @let messageRequests = data();
  @let sessionRequests = slotRequests();
  @let hasNoResults = currentSegment === 'slot-requests' ? !sessionRequests.length : !messageRequests.length;

  <div class="d-flex flex-justify-center">
    <ion-header>
      <ion-segment (ionChange)="segmentChanged($event)" [value]="currentSegment">
        <ion-segment-button value="slot-requests" class="normal-case">
          <ion-label>{{ "SLOT_REQUESTS" | translate }}</ion-label>
        </ion-segment-button>
        <ion-segment-button value="message-requests" class="normal-case">
          <ion-label>{{ "MESSAGE_REQUESTS" | translate }}</ion-label>
        </ion-segment-button>
      </ion-segment>
    </ion-header>
  </div>

  @switch (currentSegment) {
    @case ('slot-requests') {
      <ion-grid>
        <ion-row class="d-flex">
          @for (value of sessionRequests; track value.id) {
            <ion-col class="ion-padding" size-xs="12" size-sm="12" size-md="6" size-lg="6" size-xl="4" align-self-stretch>
              <app-generic-card
                [data]="value.user_details"
                [meta]="value.meta"
                [showTag]="value.showTag"
                [buttonConfig]="slotBtnConfig()"
                (onClickEvent)="onCardClick($event, value.id)"
                [cardConfig]="cardConfig"
                [disableButton]="value.disableButton">
              </app-generic-card>
            </ion-col>
          }
        </ion-row>
      </ion-grid>
    }
    @case ('message-requests') {
      <ion-grid>
        <ion-row class="d-flex">
          @for (value of messageRequests; track value.id) {
            <ion-col class="ion-padding" size-xs="12" size-sm="12" size-md="6" size-lg="6" size-xl="4" align-self-stretch>
              <app-generic-card
                [data]="value?.user_details"
                [meta]="getMessageRequestMeta(value)"
                [buttonConfig]="buttonConfig()"
                (onClickEvent)="onCardClick($event)"
                [cardConfig]="cardConfig">
              </app-generic-card>
            </ion-col>
          }
        </ion-row>
      </ion-grid>
    }
  }

  <ion-infinite-scroll
    #infinitescroll
    [disabled]="isInfiniteScrollDisabled()"
    (ionInfinite)="loadMore($event)"
    threshold="100px">
    <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="{{ 'LOADING' | translate }}">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>

  @if (hasNoResults && isDataAvailable()) {
    <app-no-data-found [messageHeader]="noResult()"></app-no-data-found>
  }
</ion-content>
