<app-page-header [config]="headerConfig"></app-page-header>

<ion-content class="ion-padding">
  <div class="mx-10 container-div">
    <ion-grid>
      <ion-row class="d-flex flex-justify-center">
        <ion-col padding size-xs="12" size-sm="12" size-md="9" size-lg="9" align-self-stretch>
          <div>
            <section>
              <app-dynamic-form [jsonFormData]="formData" (onEnter)="onSubmit()" #form1> </app-dynamic-form>
            </section>
  
            <section [ngClass]="{'btn-disabled': form1.myForm.invalid , 'btn-valid':form1.myForm.valid}">
              <div class="d-flex flex-justify-center">
                <ion-button class="mx-0 my-30 onboard-button" expand="round" (click)="onSubmit()" size="large"
                  [disabled]="!form1.myForm.valid">{{"CHANGE_PASSWORD"|translate}}</ion-button>
              </div>
            </section>
          </div>
          
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>
