<ion-card class="shadow-with-radious generic-card" (click)="onCardClick(data)">
  <div class="generic-card-header d-grid" *ngIf="meta">
    <div class="d-flex flex-align-items-center mx-10">
      <ion-icon [ngClass]="meta.isSent ? 'rotate-icon-sent' : 'rotate-icon-receive'" name="arrow-back-outline"></ion-icon>
      <p class="max-width-70" style="margin: 2px 5px;"> {{ meta.isSent ? ('SENT' | translate) : ('RECEIVED' | translate)}} </p>
    </div>
    <div class="d-flex flex-align-items-center mx-10">
      <ion-icon name="chatbox"></ion-icon>
      <p class="max-width-70" style="margin: 2px 5px;">{{meta.message}}</p>
    </div>
  </div>
  <ion-grid>
    <ion-row>
      <ion-col class="columns" size="4" no-padding>
        <div class="d-flex flex-justify-center">
          <img class="profile-img" [src]="data?.image ? data.image : 'assets/prof-img/user.png'">
        </div>
      </ion-col>
      <ion-col class="columns" size="8" no-padding>
        <ion-item lines="none" class="ion-item-padding-none">
          <ion-label class="auto-margin">
            <h4 class="margin-none" >{{data?.name || data?.title}}</h4>
            <div class="d-flex" *ngIf="data?.designation?.length">
              <p class="max-width-50">{{data?.designation[0]?.label}}</p>
              <p class="max-width-50">(12 years)</p>
            </div>
          </ion-label>
        </ion-item>
        <div class="d-flex flex-justify-flex-end" [ngClass]="{'flex-justify-start': buttonConfig?.length > 1}">
          <ng-container *ngFor="let button of buttonConfig">
            <ion-button
              *ngIf="showButton(button, data)"
              [color]="button?.color"
              (click)="handleButtonClick(button?.action, (data?.id || data?.user_id)); $event.stopPropagation()"
            >
              {{ button?.label | translate }}
            </ion-button>
          </ng-container>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-card>