<ion-card
  class="shadow-with-radious generic-card"
  (click)="handleButtonClick('viewMessage', data)"
>
  <div class="generic-card-header d-grid" *ngIf="meta">
    <div class="d-flex flex-align-items-center mx-10">
      <ion-icon
        [ngClass]="meta.isSent ? 'rotate-icon-sent' : 'rotate-icon-receive'"
        name="arrow-back-outline"
      ></ion-icon>
      <p class="max-width-70" style="margin: 2px 5px">
        {{ meta.isSent ? ("SENT" | translate) : ("RECEIVED" | translate) }}
      </p>
    </div>
    <div class="d-flex flex-align-items-center mx-10">
      <ng-container *ngIf="meta.message; else timeIcon">
        <ion-icon name="chatbox"></ion-icon>
      </ng-container>
      <ng-template #timeIcon>
        <ion-icon name="time"></ion-icon>
      </ng-template>

      <ng-container *ngIf="meta.message; else timeBlock">
        <p class="max-width-70" style="margin: 2px 5px">{{ meta.message }}</p>
      </ng-container>

      <ng-template #timeBlock>
        <small style="padding-left: 5px">
          {{ meta.resp.start_date * 1000 | date : "dd MMM, yyyy" }},
          {{ meta.resp.start_date * 1000 | date : "h:mm a" }} -
          {{ meta.resp.end_date * 1000 | date : "h:mm a" }}
        </small>
      </ng-template>
    </div>
  </div>
  <ion-grid>
    <ion-row>
      <ion-col class="columns" size="3"  no-padding>
        <div class="d-flex flex-justify-center">
          <img
            (click)="onCardClick(data); $event.stopPropagation()"
            class="profile-img"
            [src]="data?.image ? data.image : 'assets/prof-img/user.png'"
          />
        </div>
      </ion-col>
      <ion-col class="columns" size="9" no-padding>
        <ion-item lines="none" class="ion-item-padding-none">
          <ion-label
            class="auto-margin pl-5"
            (click)="onCardClick(data); $event.stopPropagation()"
          >
            <h4 class="margin-none wrap-text">
              {{ data?.name || data?.title  | titlecase }}
            </h4>
            <div class="d-flex">
              <p class="wrap-text" *ngIf="data?.designation?.length">
                {{ data?.designation[0]?.label }}
              </p>
              <p class="max-width-50" *ngIf="data.experience">
                ({{ data?.experience }} years)
              </p>
            </div>
          </ion-label>
        </ion-item>
        <div
            class="d-flex flex-justify-flex-end"
          [ngClass]="{ 'flex-justify-start': buttonConfig?.length > 1 }"
        >
          <ng-container *ngFor="let button of buttonConfig">
            <ion-button
            size="small"
              *ngIf="showButton(button, data)"
              [color]="button?.color"
x              (click)="
                handleButtonClick(button?.action, data);
                $event.stopPropagation()
              "
            >
              {{ button?.label | translate }}
            </ion-button>
          </ng-container>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-card>
