.header {
    font-size: 20px;
    margin-top: 10px;
  }
  .field {
    display: flex;
    flex-direction: column;
  }
  .field-spacing {
    margin-top: 30px;
  }
  ion-button{
      height: 50px;
      font-weight: bold;
  }
  .input{
      margin-top: 10px;
  }