.footer{
    display: flex;
    justify-content: center;
    background-color:#af3f38;
    color:white;
    padding: 16px;
    cursor: pointer;
}
.wrapper-class {
    display: flex;
    justify-content: space-between;
    background-color:#af3f38;
    color:white;
    padding: 16px;
}
.close-icon{
    cursor: pointer;
}