.btn-valid,.btn-disabled {
  margin-top: 5%;
  span {
    margin: 5px;
    p {
      width: 100%;
      text-align: center;
      line-height: 5px;
      font-size: 14px;
    }
  }
}

.t-and-c {
  width: 100%;
  text-align: left;
  font-size: 13px;
  text-align: center;
}

.text-bold {
  font-weight: bold;
}

.forgot-section {
  color: var(--ion-color-primary);
  font-weight: bold;
  font-size: 16px;
  margin-bottom: 10%;
  cursor: pointer;
}

.sub-heading{
  font-size: 14px;
  color: var(--grey-medium);
}

.link{
  text-decoration: none;
  color: var(--black);
}

.login-content{
  width: fit-content;

}

.mail-to-container{
  margin-top: 5px;
  text-align: center;
}

.email{
  user-select: all;
  font-size: bold;
  font-weight: 500;
}