<app-page-header [config]="headerConfig"></app-page-header>
<ion-content class="ion-padding mx-10">
  <div class="section">
    <p class="header-label">{{ 'CHOOSE_YOUR_LANGUAGE' | translate }}</p>
    <ion-grid>
      <ion-row>
        @for (language of languagesList; track language.value) {
          <ion-col size="6">
            <ion-card
              [class.card-selected]="language.value === selectedLanguage()?.value"
              [class.card]="language.value !== selectedLanguage()?.value"
              class="d-flex flex-justify-center flex-align-items-center"
              (click)="onCardClick(language)"
            >
              <ion-card-content
                [class.text-white]="language.value === selectedLanguage()?.value"
                [class.text-black]="language.value !== selectedLanguage()?.value"
              >
                {{ language.label | translate }}
              </ion-card-content>
            </ion-card>
          </ion-col>
        }
      </ion-row>
    </ion-grid>
  </div>
</ion-content>
<ion-footer class="ion-no-border footer-button">
  <ion-button expand="full" (click)="onSubmit()">{{ 'SUBMIT' | translate }}</ion-button>
</ion-footer>
