.index-label{
    border-top: 1px solid var(--gray);
    padding: 10px 15px;
    margin: 20px 15px 15px 10px;
    border-bottom: 1px solid var(--gray);
    font-weight: 600;
}
.search-style{
    --border-radius: 20px;
    padding: 5px 35px !important;
    max-width: 600px;
  }

.mentor-card{
    cursor: pointer; 
}

.selected-chip{
    --background:var(--ion-color-primary);
    --color:var(--white);
}
.filter{
    display: flex;
    flex-direction: row;
    gap: 5px;
    justify-content: end;
    padding: 0 2%;
}
.verticalLine {
    border-left: thin solid #807e7e;
    height: 32px;
}
.chip {
    background-color: var(--ion-color-primary);
    font-size: 14px;
    color: var(--white);
    align-items: center;
    display: inline-block;
  text-decoration: none;
}
.circle-container {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: var(--ion-color-primary);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    color: var(--white);
}

.chip-container {
    display: flex;
    white-space: nowrap;
    width: calc(100% - 100px); /* Adjust width as necessary */
    overflow-y: auto;
    scrollbar-width: none;
}


.ion-funnel-icon {
    font-size: 12px;
    color: var(--white);
}

.overlay-container {
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    padding: 16px;
    max-width: 100%;
    z-index: 1000;
}
.overlay-chip {
    font-size: 14px;
    align-items: center;
    display: inline-block;
    text-decoration: none;
    ion-icon {
        color: white;
      }
      &.selected-chip {
        background-color: var(--ion-color-primary);
        color: white;
      }
} 

.search-navigation{
    display: flex;
    justify-content: space-between;
}
.search-result-label{
    display: flex;
    align-items: center;
}
.search-result-count{
    display: flex;
    padding-left: 18%;
}
@media only screen and (max-width: 767px) {
    .search-navigation {
      display: flex;
      flex-direction: column;
    }
    .search-result-count{
        display: flex;
        padding-left: 11%;
    }
    .paginator {
      order: 2;
      display: -webkit-box;
    }
    .search-result {
      order: 1;
    }
  }