<app-page-header [config]="headerConfig">
    <app-searchbar *ngIf="overlayChips" placeholder="{{'MENTOR_SEARCH_PLACEHOLDER' | translate}}" (clearText)="onClearSearch($event)" [overlayChip]="overlayChips"  (outputData)="onSearch($event)" [valueFromParent]="valueFromChipAndFilter ? valueFromChipAndFilter : searchAndCriterias.headerData.criterias" [parentSearchText]="searchAndCriterias.headerData.searchText" ></app-searchbar>
</app-page-header>

<app-chips-and-filter  [selectedFilters]="chips" [searchAndCriteriaData]="searchAndCriterias" (removeFilterChip)="removeChip($event)" (filterClick)="onClickFilter()" (sendChildValue)="eventHandler($event)" [isFilterEnable]="filterIcon"></app-chips-and-filter>

<ion-content >
  <div class="search-navigation">
    <div class="search-result">
      <div class="search-result-label">
        <ion-buttons slot="start">
          <ion-back-button defaultHref="/tabs/home"></ion-back-button>
        </ion-buttons>
        <ion-label *ngIf="searchAndCriterias.headerData.searchText && totalCount > 0">
          {{"MENTOR_SEARCH_RESULT" | translate}} "{{searchAndCriterias.headerData.searchText}}"
        </ion-label>
      </div>
      <div *ngIf="totalCount > 0 && searchAndCriterias.headerData.searchText" class="search-result-count">
        <ion-label>{{totalCount}} {{"SEARCH_RESULT" | translate}}</ion-label>
      </div>
    </div>
    <div class="paginator">
    <mat-paginator  [length]="totalCount" [pageSize]="pageSize" [pageSizeOptions]="pageSizeOptions" (page)="onPageChange($event)"></mat-paginator>
    </div>
  </div>
  <ion-grid >
    <ion-row class="d-flex ">
      <ion-col *ngFor="let value of data" padding size-xs="12" size-sm="12" size-md="6" size-lg="6" size-xl="4" align-self-stretch>
        <app-generic-card [data]="value" (onClickEvent)="eventAction($event)" [buttonConfig]="buttonConfig"></app-generic-card>
      </ion-col>
    </ion-row>
  </ion-grid>
  <div *ngIf="totalCount == 0 || !data">
    <app-no-data-found [messageHeader]="'NO_MENTORS_AVAILABLE'"> </app-no-data-found>
  </div>
</ion-content>