<ion-toolbar>
  <ion-grid>
    <ion-row>
      <ion-col size="auto" *ngIf="searchAndCriteriaData?.headerData?.criterias?.label">
        <div style="width: auto">
          <ion-chip class="chip">
            <ion-icon name="close-circle" color="white" (click)="closeCriteriaChip()"></ion-icon>
            <ion-label class="chip-label">{{searchAndCriteriaData?.headerData?.criterias?.label}}</ion-label>
          </ion-chip>
        </div>
      </ion-col>
      <ion-col size="auto" *ngIf="selectedFilters?.length >0 && searchAndCriteriaData?.headerData?.criterias?.label">
          <div class="verticalLine"><hr></div>
      </ion-col>
      <ion-col class="chip-container">
        <ion-row>
          <div>
            <ion-chip class="chip" *ngFor="let chip of selectedFilters; ; let i = index">
              <ion-icon name="close-circle" color="white"  (click)="removeChip(chip?.value, i)"></ion-icon>
              <ion-label class="chip-label">{{ chip?.label }}</ion-label>
            </ion-chip>
          </div>
        </ion-row>
      </ion-col>
      <ion-col size="auto" style="display: flex;align-items: center;" *ngIf="isFilterEnable">
        <div style="width: 5em">
          <div class="filter">
            <p style="margin: unset;">{{"FILTER" | translate}}</p>
            <div class="circle-container" (click)="onClickFilter()">
              <ion-icon class="ion-funnel-icon" name="funnel"></ion-icon>
            </div>
          </div>
        </div>
      </ion-col>
    </ion-row>
     <div *ngIf="showSelectAll && tableData?.length" class="select">
      <ion-checkbox labelPlacement="end" mode="md" [checked]="isAllSelected()"  (ionChange)="onSelectAllChangeClick($event)">
       {{ isAllSelected() ? ('DESELECT_ALL' | translate) : ('SELECT_ALL' | translate)}}
      </ion-checkbox>
      <div *ngIf="tableData?.length && showSelectAll " class="header">{{('SELECTED' | translate) + ' : ' + selectedCount}}</div>
      <div *ngIf="tableData?.length && showSelectAll" (click)="onToggleSelectAllX()" style="font-weight:700;color: #3a85e9f3; cursor: pointer;">
        {{ selectAllXActive ? ('| ' + ('CLEAR_ALL' | translate) + ' [' + selectedCount + ']') : ('| ' + ('SELECT_ALL' | translate) + ' [' + totalCount + ']') }}
      </div>
    </div>
  </ion-grid>
</ion-toolbar>
<ion-content>
    
</ion-content>
