.session-sqr-card{
    text-align: center;
    padding: 4px;
    margin: 10px;
    border-radius: 10px;
}
.label{
    font-size: 15px;
    color: var(--black);
}
.card-button{
    --background:rgb(53, 120, 184);
    width: 85% !important;
    font-weight: bold;
    height: 43px;
    font-size: larger;
    margin-top: 13px;
}
.create-icon{
    font-size: 32px;
    margin: 10px;
}
.card-content{
    padding-top: 0px;
}
.circle-container {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: var(--ion-color-primary);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }
  
  .ion-funnel-icon {
    font-size: 12px;
    color: rgb(255, 255, 255);
  }

  .filter{
    display: flex;
    flex-direction: row;
    gap: 5px;
    justify-content: end;
    padding-right: 20px;
  }
  .search-bar{
    --border-radius:25px;
    --icon-color:var(--ion-color-primary);
    font-size:16px;
    height: 36px;
    width: 500px;
}
.download{
  display: grid;
  align-items: center;
  justify-content: flex-end;
  font-weight:700;
  color: #6da6f2;
  text-decoration: underline;
  cursor: pointer;
}
.normal-case {
  text-transform: none;
}