<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> Home</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large"> {{"LABELS.HOME" | translate}}</ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="page-intro">
    <h5>
      {{"LABELS.ALL_SESSIONS" | translate}}
    </h5>
    <ion-button color="primary" size="small" shape="round" class="ion-margin-top">
      {{"LABELS.VIEW_MORE" | translate}}<ion-icon name="caret-forward-outline"></ion-icon>
    </ion-button>
  </div>
  <div>
    <app-session-card [sessions]="sessions" [showEnroll]=true (onClickEvent)="eventAction($event)"> </app-session-card>
  </div>
  <!-- <div>
    <app-dynamic-form [jsonFormData]="formData"></app-dynamic-form>
  </div> -->
</ion-content>