.page-intro {
    display: inline-flex;
    padding-left: 20px !important;
    overflow: scroll;
    background-color: var(--white);
}
h3{
    margin: 10px 0px 10px 5px;
    font-size: 24px;
}
.welcome-note{
    font-size: 18px;
    text-align: center;
    font-weight: bold;
}
.search-bar{
    --border-radius:25px;
    --icon-color:var(--ion-color-primary);
    font-size:16px;
    height: 36px;
    max-width: 600px;
    min-width: 350px;
}
.segment-wrapper{
    padding: 6px 0px 6px 0px;
    overflow-x: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.align-center {
    justify-content: center;
}

.segment-wrapper::-webkit-scrollbar {
    display: none;
}

.segment-div{
    margin: 2px 4px;
    ion-button{
        --ripple-color:var(--gray)
    }
}
.segment-button{
    --border-radius:25px;
    color: black;
    --border-color:var(--gray);
    height: 45px;
    font-size: small;
}
.font-bold{
    --border-radius:25px;
    font-weight: bold;
    color: black;
    --border-color:var(--ion-color-primary);
    height: 45px;
    font-size: small;
}
.session-sqr-card{
    text-align: center;
    padding-bottom: 4px;
    margin-bottom: 40px;
    border-radius: 10px;
}
.label{
    font-size: 15px;
    color: var(--black);
}
.card-button{
    --background:rgb(53, 120, 184);
    width: 85% !important;
    font-weight: bold;
    height: 43px;
    font-size: larger;
    margin-top: 13px;
}
.create-icon{
    font-size: 32px;
    margin: 10px;
}
.card-content{
    padding-top: 0px;
}
.section-header{
    margin: 8px 0px 12px 10px;
    letter-spacing: 1px;
}
.card-config {
    border-radius: 20px;
}

.round-icon-button{
    width: 26px;
    height: 26px;
    border-radius: 50%;
    background-color: var(--ion-color-primary);
    --color: white;
}
.close-icon {
    color: white;
    font-weight: bold;
}
.header-label{
    font-weight: bold;
    color: black;
}
.content-label {
    font-size: 13px;
}
img {
    margin: 16px 0px;
    max-width: 55%;
}
.mentor-card-button {
    min-width: 100%;
    --border-radius:8px;
}



.overlay-container {
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    padding: 16px;
    max-width: 100%;
    z-index: 1000;
}
.chip {
    font-size: 14px;
    align-items: center;
    display: inline-block;
    text-decoration: none;
    ion-icon {
        color: white;
      }
      &.selected-chip {
        background-color: var(--ion-color-primary);
        color: white;
      }
}  
.chip-container {
    display: flex;
    white-space: nowrap;
    width: calc(100% - 100px);
    scrollbar-width: none;
}