<app-page-header [config]="headerConfig"></app-page-header>
<ion-content class="ion-padding">
  <div class="mx-10">
    <ion-grid>
      <ion-row class="d-flex flex-justify-center">
        <ion-col padding size-xs="12" size-sm="12" size-md="6" size-lg="6" align-self-stretch>
          <app-generic-header [labels]="labels"></app-generic-header>

          <section>
            <app-dynamic-form [jsonFormData]="formData" (onEnter)="onSubmit()" #form1> </app-dynamic-form>
          </section>

          <section [ngClass]="{'btn-disabled': form1.myForm.invalid , 'btn-valid':form1.myForm.valid}">
            <div class="d-flex flex-justify-center">
              <ion-button class="mx-0 my-30 onboard-button" expand="round" (click)="onSubmit()" size="large"
                [disabled]="!form1.myForm.valid">{{"VALIDATE_OTP"|translate}}</ion-button>
            </div>
          </section>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>