<app-page-header [config]="headerConfig"></app-page-header>
<ion-content class="ion-padding">
  <h1>Reset Password</h1>
  <h1></h1>
  <div class="d-flex">
    <div>
      <hr />
    </div>
  </div>

  <section>
    <app-dynamic-form [jsonFormData]="formData" #form1> </app-dynamic-form>
    <ion-item lines="none">
      <ion-icon name="eye-outline"></ion-icon>
      <ion-label class="ion-margin"><strong>{{"SHOW_PASSWORD"|translate}}</strong></ion-label>
      <ion-toggle
        [(ngModel)]="showPassword"
        (ionChange)="togglePassword()"
      ></ion-toggle>
    </ion-item>
  </section>

  <section class="ion-text-center btn-section">
    <ion-button expand="block" routerLink="/{{AUTH}}/{{OTP}}">{{"SEND_OTP"|translate}}</ion-button>
  </section>
</ion-content>
