<ion-content class="ion-padding">
  <h1>Reset Password</h1>
  <h1></h1>
  <div class="d-flex">
    <div>
      <hr />
    </div>
  </div>

  <section>
    <app-dynamic-form [jsonFormData]="formData" #form1> </app-dynamic-form>
    <ion-item>
      <ion-icon name="eye-outline"></ion-icon>
      <ion-label class="ion-margin">Show Password</ion-label>
      <ion-toggle
        [(ngModel)]="showPassword"
        (ionChange)="togglePassword()"
      ></ion-toggle>
    </ion-item>
  </section>

  <section class="ion-text-center">
    <ion-button expand="block">SUBMIT</ion-button>
  </section>
</ion-content>
