<div class="header-container d-flex flex-justify-space-between">
  <div class="header">{{ headingText | translate}}</div>
  <div *ngIf="pageSize && pageSizeOptions" class="d-flex flex-justify-space-between ion-padding">
    <ng-content></ng-content>
    <mat-paginator *ngIf="showPaginator" class="paginator" [length]="totalCount" [pageSize]="pageSize"
      [pageSizeOptions]="pageSizeOptions" (page)="onPageChange($event)">
    </mat-paginator>
  </div>
</div>
<div class="table-container ">
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
    <ng-container *ngFor="let column of columnData" [matColumnDef]="column.name">
      <ng-container>
        <th mat-header-cell *matHeaderCellDef>
          <div class="column-header"
            [ngClass]="(column.name == 'title' || column.name == 'name') ? 'column-name':'column-header'">
            {{ column.displayName }} <div class="sorting-icon" *ngIf="column.sortingData">
              <img class="img" [id]="column.displayName" src="../../../../assets/images/swap-vertical.svg" />
              <ion-popover [trigger]="column.displayName" triggerAction="click">
                <ng-template class="popover-container">
                  <ion-content class="ion-padding popover-container">
                    <div class="popover-div d-flex flex-justify-center" *ngFor="let data of column.sortingData">
                      <span (click)="onClickSorting($event,data)" class="popover-header">{{data.label}}</span>
                    </div>
                  </ion-content>
                </ng-template>
              </ion-popover>
            </div>
          </div>
        </th>
      </ng-container>
      <ng-container>
        <div *ngIf="column.type == 'text'">
          <td class="cell-container" mat-cell (click)="onCellClick(column.name,element[column.name],element)" *matCellDef="let element">
            <div class="cell-text" [ngClass]="{'session-name cell-text': column.name == 'title' || column.name == 'name'}">
              {{element[column.name] | translate }}</div>
          </td>
        </div>
        <div *ngIf="column.type == 'array'">
          <td mat-cell (click)="onCellClick(column.name,element)" *matCellDef="let element">
            <div class="cell-text" *ngFor="let ele of element[column.name]">
              {{ele.label}}
            </div>
          </td>
        </div>
        <div *ngIf="column.type == 'button'">
          <td mat-cell *matCellDef="let element">
            <div class="d-flex flex-justify-space-between cell-text">
              <ion-grid>
                <ion-row class="d-flex flex-justify-center">
                  <div *ngFor="let buttonName of element[column.name]">
                    <ion-button *ngIf="buttonName.name" [class]="buttonName.cssColor"
                      (click)="onCellClick(buttonName.name,column,element)">
                      {{ buttonName.name | translate }}
                    </ion-button>
                    <ion-button *ngIf="buttonName.icon" [class]="buttonName.cssColor"
                      (click)="onCellClick( buttonName.action,column,element)">
                      <ion-icon *ngIf="buttonName.icon" [icon]=" buttonName.icon"></ion-icon>
                    </ion-button>
                  </div>
                </ion-row>
              </ion-grid>
            </div>
          </td>
        </div>
      </ng-container>
    </ng-container>


    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

  </table>
  <div *ngIf="!(tableData?.length)">
    <app-no-data-found [messageDescription]="noDataMessage">
    </app-no-data-found>
  </div>
</div>