<div class="header-container d-flex flex-justify-space-between">
  <div class="header-container">
  <div class="header">{{ headingText | translate}}</div>
  <div class="sorting-icon">
  @if (tableData?.length && showCheckbox) {
  <ion-checkbox labelPlacement="end" class="header select-all-checkbox" [checked]="isAllSelected()" (ionChange)="onSelectAllChangeClick($event)">{{ isAllSelected() ? ('DESELECT_PAGE' | translate) : ('SELECT_PAGE' | translate)}}</ion-checkbox>
  }
  @if (tableData?.length && showCheckbox) {
  <div class="header">{{('SELECTED' | translate) + ' : ' + selectedCount}}</div>
  }
  @if (selectedCount > 0 && showCheckbox) {
  <div (click)="onToggleSelectAllX()" style="font-weight:700;color: #3a85e9f3; cursor: pointer;">{{ selectAllXActive ? ('| ' + ('CLEAR_ALL' | translate) + ' [' + selectedCount + ']') : ('| ' + ('SELECT_ALL' | translate) + ' [' + totalCount + ']') }}</div>
  }
  </div>
  </div>
  @if (pageSize && pageSizeOptions) {
  <div class="d-flex flex-justify-space-between ion-padding">
    <ng-content></ng-content>
    @if (showPaginator) {
    <mat-paginator class="paginator" [length]="totalCount" [pageSize]="pageSize"
      [pageSizeOptions]="pageSizeOptions" (page)="onPageChange($event)">
    </mat-paginator>
    }
  </div>
  }
</div>
<div class="table-container ">
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
    <ng-container matColumnDef="select">
    <th mat-header-cell *matHeaderCellDef style="background-color: #f2f2f2;">
    </th>
    <td mat-cell *matCellDef="let element">
        @if (showCheckbox) {
        <ion-checkbox
         (ionChange)="onCheckboxAction(element, $event)"
         [checked]="isRowInRemoveState(element)"
        >
        </ion-checkbox>
        }
    </td> 
</ng-container>
    @for (column of columnData; track column?.name) {
    <ng-container [matColumnDef]="column.name">
      <ng-container>
        <th mat-header-cell *matHeaderCellDef style="background-color: #f2f2f2;">
          <div class="column-header"
            [ngClass]="(column.name == 'title' || column.name == 'name') ? 'column-name':'column-header'">
            {{ column.displayName }}
            @if (column.sortingData) {
            <div class="sorting-icon">
              <img class="img" [id]="column.displayName" src="assets/images/swap-vertical.svg" />
              <ion-popover [trigger]="column.displayName" triggerAction="click">
                <ng-template class="popover-container">
                  <ion-content class="ion-padding popover-container">
                    @for (data of column.sortingData; track data?.value || data?.label) {
                    <div class="popover-div d-flex flex-justify-center">
                      <span (click)="onClickSorting($event,data)" class="popover-header">{{data.label}}</span>
                    </div>
                    }
                  </ion-content>
                </ng-template>
              </ion-popover>
            </div>
            }
          </div>
        </th>
      </ng-container>
      <ng-container>
        @if (column.type == 'text') {
          <td class="cell-container" mat-cell (click)="onCellClick(column.name,element[column.name],element)" *matCellDef="let element">
            <div class="cell-text" [ngClass]="{'session-name cell-text': column.name == 'title' || column.name == 'name'}">
            {{ element[column.name] ? (element[column.name] | translate) : '-' }}</div>
          </td>
        }
        @if (column.type == 'array') {
          <td mat-cell (click)="onCellClick(column.name,element)" *matCellDef="let element">
            @if (element[column.name]?.length > 0) {
              @for (ele of element[column.name]; track ele?.id || ele?.value || ele?.label || ele) {
              <div class="cell-text auto-margin">
                {{ ele.label || ele }}
              </div>
              }
            } @else {
              <div class="cell-text auto-margin">-</div>
            }
          </td>
        }
        @if (column.type == 'button') {
          <td mat-cell *matCellDef="let element">
            <div class="d-flex flex-justify-space-between cell-text auto-margin">
              <ion-grid>
                <ion-row class="d-flex flex-justify-center">
                  @for (buttonName of element[column.name]; track buttonName?.name || buttonName?.action || buttonName?.icon) {
                  <div>
                    @if (buttonName.name) {
                    <ion-button [class]="buttonName.cssColor"
                      (click)="onCellClick(buttonName.name,column,element)"
                      [disabled]="buttonName.isDisabled"
                      >
                      {{ buttonName.name | translate }}
                    </ion-button>
                    }
                    @if (buttonName.icon) {
                    <ion-button [class]="buttonName.cssColor"
                      (click)="onCellClick( buttonName.action,column,element)">
                      <ion-icon [icon]="buttonName.icon"></ion-icon>
                    </ion-button>
                    }
                  </div>
                  }
                </ion-row>
              </ion-grid>
            </div>
          </td>
        }
      </ng-container>
    </ng-container>
    }

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

  </table>
  @if (!(tableData?.length)) {
  <div>
    <app-no-data-found [messageDescription]="noDataMessage">
    </app-no-data-found>
  </div>
  }
</div>
