.search-navigation{
    display: flex;
    justify-content: space-between;
}
.search-result-count{
    display: flex;
    padding-left: 24%;
}
.search-result-label{
    display: flex;
    align-items: center;
}
.search-result-count{
    display: flex;
    padding-left: 24%;
}