.landing-header{
    margin-top: 10%;
}
.or-section {
    display: flex;
    justify-content: center;
    p {
      width: 85%;
      text-align: center;
      border-bottom: 2px solid gray;
      line-height: 0.1em;
      margin: 10px 0 10px;
    }
  
    p span {
      background: #fff;
      padding: 0 10px;
      font-weight: 600;
    }
}
.section-config{
    margin-top: 50px;

}
.text-config{
    text-align: center;
    font-weight: bold;
    margin-bottom: 10px;
}
.button-icon{
  margin-right: 5px;
}