<ion-tabs #tabs (ionTabsDidChange)="tabChange(tabs)">


  <ion-tab-bar slot="bottom" class="tab-item hide-on-large-screen">
    <ion-tab-button tab="home" *allowTemplateView="PAGE_IDS.home">
      <ion-icon name="home-sharp" size="large"></ion-icon>
      <ion-label>{{'HOME' | translate}}</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="mentor-directory" *allowTemplateView="PAGE_IDS.mentorDirectory">
      <ion-icon name="people-circle" size="large"></ion-icon>
      <ion-label>{{'MENTORS' | translate}}</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="dashboard" *allowTemplateView="PAGE_IDS.dashboard">
      <ion-icon name="stats-chart-sharp" size="large"></ion-icon>
      <ion-label>{{'DASHBOARD' | translate}}</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="profile" *allowTemplateView="PAGE_IDS.profile">
      <ion-icon name="person-sharp" size="large"></ion-icon>
      <ion-label>{{'PROFILE' | translate}}</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
