<ion-tabs #tabs (ionTabsDidChange)="tabChange(tabs)">


  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home">
      <ion-icon name="home-sharp" size="large"></ion-icon>
      <ion-label>{{'HOME' | translate}}</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="mentor-directory">
      <ion-icon name="people-circle" size="large"></ion-icon>
      <ion-label>{{'MENTORS' | translate}}</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="dashboard">
      <ion-icon name="stats-chart-sharp" size="large"></ion-icon>
      <ion-label>{{'DASHBOARD' | translate}}</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="profile">
      <ion-icon name="person-sharp" size="large"></ion-icon>
      <ion-label>{{'PROFILE' | translate}}</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
