
ion-tab-bar{
  --background: var(--white);
}

ion-tab-button {
  --color: var(--black);
  --color-selected: var(--ion-color-primary);  
    &::before {
        background-color: transparent;
        display: block;
        content: "";
        margin: 0 auto;
        width: 40px;
        height: 3px;
    }
  
    &.tab-selected::before {
      background-color: var(--white);
    }
  }