<div class="detail-container">
  @if (isloaded()) {
    @let detail = detailData();
    @let detailInfo = detail?.data;
    @if (userCanAccess()) {
      <app-page-header [config]="headerConfig()" (actionEvent)="action($event)"></app-page-header>
      <app-generic-profile-header
        [headerData]="detailInfo"
        [buttonConfig]="buttonConfig()"
        [isblocked]="isdisabled()"
        [showRole]="false"
      >
      </app-generic-profile-header>
      
      @if (detailInfo?.is_mentor && !isdisabled()) {
        <div>
          <ion-segment [value]="segmentValue()" (ionChange)="segmentChanged($event)">
            <ion-segment-button value="about">
              <ion-label class="segment-lbl">{{"ABOUT"|translate}}</ion-label>
            </ion-segment-button>
            <ion-segment-button value="upcoming">
              <ion-label class="segment-lbl">{{"UPCOMING_SESSIONS"|translate}}</ion-label>
            </ion-segment-button>
          </ion-segment>
        </div>
      }

      @if (!isdisabled()) {
        <ion-content>
          @switch (segmentValue()) {
            @case ('about') {
              <ion-grid>
                <ion-row class="d-flex ion-padding">
                    <ion-col size-xs="12" size-sm="12" size-md="8" size-lg="8" align-self-stretch>
                    <app-generic-details [sessionData]="detail"></app-generic-details>
                  </ion-col>
                </ion-row>
              </ion-grid>
            }
            @case ('upcoming') {
              <ion-list>
                @if (!upcomingSessions()) {
                  <app-skeleton [type]="SKELETON.SESSION_CARD_SKELETON" [repetition]="4"></app-skeleton>
                } @else if (upcomingSessions().length === 0 && isUpcomingSession()) {
                  <app-no-data-found [messageHeader]="'NO_UPCOMING_SESSIONS_PLANNED'" [messageDescription]="'NO_UPCOMING_SESSIONS'"></app-no-data-found>
                } @else {
                  <ion-grid>
                    <ion-row class="d-flex">
                      @for (data of upcomingSessions(); track data.id) {
                        <ion-col padding size-xs="12" size-sm="12" size-md="6" size-lg="6" align-self-stretch>
                          <app-session-card [data]="data" [showBanner]="false" (onClickEvent)="onAction($event)"></app-session-card>
                        </ion-col>
                      }
                    </ion-row>
                  </ion-grid>
                  <ion-infinite-scroll threshold="100px" (ionInfinite)="loadMore($event)" [disabled]="disableInfiniteScroll()">
                    <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="{{'LOADING' | translate}}"></ion-infinite-scroll-content>
                  </ion-infinite-scroll>
                }
              </ion-list>
            }
          }
        </ion-content>
      } @else {
        <ion-content>
          <div class="block-header">
            <ion-icon name="information-circle" class="info-icon"></ion-icon>
            <p> {{'YOU_HAVE_BLOCKED' | translate : {name: mentorName() | titlecase} }}</p>
          </div>
          <div class="block-content">
            <p>{{ 'DO_YOU_WISH_TO_UNBLOCK' | translate }}</p>
          </div>
          <div class="button">
            <ion-button class="unblock" (click)="unblock()">
              {{ 'UNBLOCK' | translate }}
            </ion-button>
          </div>
        </ion-content>
      }
    } @else if (userCantAccess()) {
      <app-page-header [config]="headerConfig()" (actionEvent)="action($event)"></app-page-header>
      <app-generic-profile-header
        [headerData]="detailInfo"
        [buttonConfig]="buttonConfig()"
        [showRole]="false"
      >
      </app-generic-profile-header>
      <div class="d-flex flex-justify-center flex-1 flex-align-items-center">
        <app-no-data-found
          [messageHeader]="'USER_CANT_ACCESS_THIS_PROFILE'"
          [messageDescription]="'USER_CANT_ACCESS_PROFILE_GO_TO_HOME_PAGE'"
          [image]="'assets/no-data/unotherised-access.png'"
        >
        </app-no-data-found>
      </div>
    } @else if (userNotFound()) {
      <app-page-header [config]="headerConfig()" (actionEvent)="action($event)"></app-page-header>
      <app-generic-profile-header
        [headerData]="detailInfo"
        [buttonConfig]="buttonConfig()"
        [showRole]="false"
        [userNotFound]="userNotFound()"
      >
      </app-generic-profile-header>
      <div class="d-flex flex-justify-center flex-1 flex-align-items-center">
        <div>
          <ion-icon name="information-circle" style="font-size: 24px;"></ion-icon>
          <span style="vertical-align: super; font-size: 16px;">
            {{ "USER_INFO_NOT_FOUND" | translate }}
          </span>
          <p style="color: grey; font-size: 14px; margin-top: 5px; margin-left: 30px;">
            {{ "USER_PROFILE_NOT_AVAILABLE" | translate }}
          </p>
        </div>
      </div>
    }

    <ion-footer class="ion-no-border footer-button">
      <ion-button (click)="goToHome()" expand="full">{{"HOME" | translate}}</ion-button>
    </ion-footer>
  }
</div>
