.inner-button{
    width: 30%;
    --border-width: 30%;
    --border-radius: 8px !important;
}
.card-title{
    font-weight: 800;
}
.select{
    width: 100%;
}
.button-class{
    justify-content: space-evenly;
}
.hint-icon{
    font-size: 12px;
    margin: 0%;
}
.hint-label{
    font-size: 12px;
    padding-left: 5px;
    margin: 0%;
}