<ion-header>
  <ion-toolbar color="{{config?.headerColor}}">
    <ion-buttons slot="start" *ngIf="config?.menu">
      <ion-menu-button>
      </ion-menu-button>
      <!-- <p class="menu-label">
        {{config?.label | translate}}
      </p> -->
    </ion-buttons>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="" *ngIf="config?.backButton"></ion-back-button>
    </ion-buttons>
    <ion-title>{{config?.backButton?.label || config?.label | translate}}</ion-title>
    <!-- <ion-buttons slot="end" *ngIf="config?.notification">
      <ion-icon size="large" name="notifications-outline"></ion-icon>
    </ion-buttons> -->
    <ion-buttons slot="end" *ngIf="config?.share" (click)="onAction('share')">
      <ion-icon size="large" name="share-social"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
  <ng-content></ng-content>
</ion-header>