<ion-header>
  <ion-toolbar color="{{config?.headerColor}}">
    <ion-buttons slot="start" *ngIf="config?.menu">
      <ion-menu-button>
      </ion-menu-button>
    </ion-buttons>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/home" *ngIf="config?.backButton"></ion-back-button>
    </ion-buttons>
    <ion-title>{{config?.backButton?.label || config?.label | translate}}</ion-title>
    <ion-grid>
      <ion-row>
        <ion-col size="2" *ngIf="config?.edit">
          <div>
            <ion-buttons slot="end" (click)="onAction('edit')">
              <ion-icon class="icon" name="create-outline"></ion-icon>
            </ion-buttons>
          </div>
        </ion-col>
        <ion-col size="2" *ngIf="config?.delete">
          <div>
            <ion-buttons slot="end" (click)="onAction('delete')">
              <ion-icon class="icon" name="trash-outline"></ion-icon>
            </ion-buttons>
          </div>
        </ion-col>
        <ion-col size="2" *ngIf="config?.share">
          <div>
            <ion-buttons slot="end" (click)="onAction('share')">
              <ion-icon class="icon" name="share-social"></ion-icon>
            </ion-buttons>
          </div>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="2" *ngIf="config?.edit">
            <ion-label class="label-small">{{"EDIT" | translate}}</ion-label>
        </ion-col>
        <ion-col size="2" *ngIf="config?.delete">
            <ion-label class="label-small">{{"DELETE" | translate}}</ion-label>
        </ion-col>
        <ion-col size="2" *ngIf="config?.share">
            <ion-label class="label-small">{{"SHARE" | translate}}</ion-label>
        </ion-col>
      </ion-row>
    </ion-grid>
    <ion-buttons slot="end" *ngIf="config?.signupButton" (click)="onAction('signup')">
      <ion-label class="align-right" color="primary" *ngIf="config?.signupButton">{{"SIGN_UP" | translate}}</ion-label>
    </ion-buttons>
  </ion-toolbar>
  <ng-content></ng-content>
</ion-header>