ion-back-button{
    text-transform: none;
    font-size: 16px;
    font-weight: 800;
}
ion-title{
    font-weight: bold;
}
ion-icon{
    color: rgb(165, 157, 157);
}
.align-right{
    align-self: right;
    margin-right: 20px;
}
ion-menu-button{
    font-size: 40px;
}
ion-toolbar{
    padding: 10px 0px;
}