.header {
    font-weight: bold;
    font-size: 17px;
    letter-spacing: 1px;
}
.wrapper-class {
    display: flex;
    justify-content: end;
    padding: 10px 20px 0px 0px;
}
.underline {
    cursor: pointer;
    font-weight: bold;
}
.sub-header {
    font-weight: bold;
    font-size: 16px;
}
ion-checkbox {
    --border-color: var(--ion-color-primary)
}
.header{
    padding-right: 65%;
}
.filter-underline{
    cursor: pointer;
    text-decoration: underline;
}