.header {
    font-weight: bold;
    font-size: 17px;
    letter-spacing: 1px;
}
.wrapper-class {
    display: flex;
    justify-content: end;
    padding: 5px 5px;
}
.underline {
    cursor: pointer;
    font-weight: bold;
}
.sub-header {
    font-weight: bold;
    font-size: 16px;
}
ion-checkbox {
    --border-color: var(--ion-color-primary)
}