.sub-menu-toolbar{
    height: 100px;
    margin-top: 20px;
    background-color: var(--white);
    color:--dark-gray;
}
.menu-css{
    height: 100%;
    background:var(--light-gray) !important;
    border-radius: 0px 35px 0 0;
    box-shadow: 2px 8px 13px 2px var(--black);
    -moz-box-shadow:2px 8px 13px 2px var(--black);
    -webkit-box-shadow: 2px 8px 13px 2px var(--black);
    margin-top: 8PX;
}

.sub-menu-list{
    background: var(--light-gray) !important;
    border-radius: 0px 35px 0 0;
    ion-item{
        padding: 14px 6px 6px 6px;
        --background:rgba(0,0,0,0) !important;
        border-bottom: .5px solid var(--gray);
        font-size: 16px;
        color: var(--dark-gray);
    }
}

.side-menu-footer{
    ion-row{
        background-color: var(--ion-color-primary);
        height:55px;
        overflow: hidden;
        align-items: center;
        padding: 1px 18px;

        ion-col{
            padding: 0;
            color: var(--white);
            text-align: center;
        }
    }
}

.edit-btn {
  background-color: var(--ion-color-primary);
  color: var(--white);;
  border-radius: 10px;
  text-transform: capitalize;
  width:90px
}
.space-bottom{
    margin-top: 5px;
    font-size: 17px;
}