<ion-app>
  <ion-split-pane contentId="main-content">
    <ion-menu contentId="main-content" type="overlay">
      <ion-header [translucent]="true" class="ion-no-border">
        <ion-toolbar class="sub-menu-toolbar">
          <ion-buttons slot="start">
            <ion-button>
              <ion-icon slot="icon-only" name="person-circle"></ion-icon>
            </ion-button>
          </ion-buttons>
          <ion-title><strong>Pradeep</strong></ion-title>
          <ion-buttons slot="end">
            <ion-button expand="full" class="edit-btn">Edit</ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>
      <ion-content fullscreen class="sub-menu-content">
          <ion-list lines="none" class="sub-menu-list">
            <ion-menu-toggle auto-hide="false" *ngFor="let p of appPages; let i = index">
              <ion-item routerDirection="root" [routerLink]="[p.url]" lines="none" detail="false"
                routerLinkActive="selected">
                <ion-icon slot="start" [ios]="p.icon + '-outline'" [md]="p.icon + '-sharp'"></ion-icon>
                <ion-label><strong>{{ p.title }}</strong></ion-label>
              </ion-item>
            </ion-menu-toggle>
          </ion-list>
      </ion-content>
      <ion-footer class="side-menu-footer">
       <ion-row>
         <ion-col size="12">
           <h4><strong>Logout</strong></h4>
         </ion-col>
       </ion-row>
      </ion-footer>
    </ion-menu>
    <ion-router-outlet id="main-content"></ion-router-outlet>
  </ion-split-pane>
</ion-app>