.main-wrapper{
    margin : 10px 15px 0px 15px
}
.load-more-button{
    height: 50px;
}
.session-btn{
    margin: 10px,;
    width: 120px;
    height: 30px;
}
.title-font{
    font-size: 19px;
    margin-top: 25px;
}
.field-wrapper{
    margin: 5px 10px 0px 15px;
    ::first-letter {
        text-transform: uppercase;
    }
}
.description{
    margin-top: 10px;
    margin-bottom: 10px;
    ::first-letter {
        text-transform: uppercase;
    }
    color: var( --dark-gray);
}
.calendar-icon{
    font-size: 26px;
}
.date-label{
    font-size: 16px;
    color: rgb(0, 0, 0);
    margin-left: 8px;
    margin-bottom: 4px;
}
img{
    width: 93%;
    border-radius: 10px;
    height: 220px;
}