<app-page-header [config]="headerConfig" (actionEvent)="action($event)"></app-page-header>
<ion-content [fullscreen]="true">
  <div *ngIf="detailData" class="main-wrapper"> 
    <ion-grid>
      <ion-row class="d-flex ">
        <ion-col padding size-xs="12" size-sm="12" size-md="4" size-lg="4">
    <div class="d-flex flex-justify-center">
      <img *ngIf="!detailData?.data?.image?.length || !detailData?.data?.image[0]; else elseBlock" src="../../../assets/default-session-img/session-img.png"/>
      <ng-template #elseBlock>
        <img src="{{detailData?.data?.image}}"/>
      </ng-template>
    </div>
  </ion-col>
    <ion-col padding >
    <div class="field-wrapper">
      <h6 class="title-font">{{detailData?.data?.title}}</h6>
      <p class="description">{{detailData?.data?.description}}</p>
      <ion-item class="ion-no-padding" lines="none">
        <ion-icon class="calendar-icon" name="calendar-number-outline"></ion-icon>
        <ion-label *ngIf="startDate && detailData?.data?.status=='PUBLISHED'" class="date-label">{{"STARTS_ON"|translate}} {{startDate|date:'dd/MM/yyyy'}} {{"AT"|translate}} {{startDate|date:'shortTime'}}</ion-label>
        <ion-label *ngIf="startDate && detailData?.data?.status=='LIVE'" class="date-label">{{"STARTED_ON"|translate}} {{startDate|date:'dd/MM/yyyy'}} {{"AT"|translate}} {{startDate|date:'shortTime'}}</ion-label>
        <ion-label *ngIf="endDate && detailData?.data?.status=='COMPLETED'" class="date-label">{{"COMPLETED_ON"|translate}} {{endDate|date:'dd/MM/yyyy'}} {{"AT"|translate}} {{endDate|date:'shortTime'}}</ion-label>
      </ion-item>
    </div>
    <app-generic-details [sessionData]='detailData'></app-generic-details>
  </ion-col>
</ion-row>
</ion-grid>
  </div>
</ion-content>
<ion-footer class="ion-no-border">
  <ion-item *ngIf="isCreator; else elseBlockFooter">
      <ion-button *ngIf="detailData?.data?.status=='PUBLISHED' || detailData?.data?.status=='LIVE'" [disabled]="!isEnabled || platformOff" class="load-more-button" expand="full"
      (click)="onStart(detailData?.data?.id)">{{"START_SESSIONS" | translate}}</ion-button>
    
  </ion-item>
  <ng-template #elseBlockFooter>
    <div *ngIf="!detailData?.data?.is_enrolled && detailData?.data?.status!='COMPLETED'">
      <ion-button class="load-more-button" expand="full" (click)="onEnroll()">{{"ENROLL" | translate}}</ion-button>
    </div>
    <div *ngIf="detailData?.data?.is_enrolled && detailData?.data?.status==='PUBLISHED' && !isEnabled">
      <ion-button class="load-more-button" expand="full" (click)="onCancel()">{{"UN_ENROLL" | translate}}</ion-button>
    </div>
    <div *ngIf="detailData?.data?.is_enrolled && detailData?.data?.status!='COMPLETED' && isEnabled" class="join-button">
      <ion-button class="load-more-button" expand="full" (click)="onJoin()" [disabled]="platformOff">{{"JOIN" | translate}}</ion-button>
    </div>
  </ng-template>
</ion-footer>