.btn-section{
    margin-top: 3%;
}
.check-box{
   margin-right: 30px;
}
.label{
    font-size: large;
}
.text{
    --placeholder-color: black;
    --placeholder-opacity: 1;
    color: rgb(77, 72, 72);
}
.mentor-input{
    margin-bottom: 30px;
}
.text-config{
    text-align: center;
    font-weight: bold;
    margin-bottom: 2px !important;
}
.underline{
    text-decoration: underline;
    text-decoration-color: rgb(187, 3, 3);
    color:  rgb(187, 3, 3);
    margin-top: 2px;
}