.btn-section{
    margin-top: 10%;
}



// To be removed later...
.mentor-signup{
    flex-direction: row;
    margin-bottom: 20px;
    margin-top: 10px;
}
.check-box{
   margin-right: 30px;
}
.label{
    font-size: large;
}
.text{
    --placeholder-color: black;
    --placeholder-opacity: 1;
    color: rgb(77, 72, 72);
}