<form [formGroup]="myForm" *ngIf="showForm">
  <div *ngFor="let control of jsonFormData?.controls">
    <ion-item
      [class]="control.class"
      [ngClass]="{
        'form-invalid':
          myForm.get(control.name).touched && myForm.get(control.name).invalid
      }"
    >
      <ion-label
        *ngIf="control.label !== '' && !['rating'].includes(control.type)"
        [position]="control.position"
        >{{ control.label }} <span *ngIf="control?.validators['required']==true" class="star-icon-red">*</span></ion-label
      >
      <ion-input
        *ngIf="
          [
            'text',
            'password',
            'email',
            'number',
            'search',
            'tel',
            'url',
            'secretCode'
          ].includes(control.type)
        "
        [type]="control.type"
        [formControlName]="control.name"
        [value]="control.value"
      ></ion-input>
      <ion-textarea
        *ngIf="control.type === 'textarea'"
        [formControlName]="control.name"
        [value]="control.value"
      ></ion-textarea>
      <ion-checkbox
        *ngIf="control.type === 'checkbox'"
        [formControlName]="control.name"
        [checked]="control.value"
      ></ion-checkbox>
      <ion-toggle
        *ngIf="control.type === 'toggle'"
        [formControlName]="control.name"
        [checked]="control.value"
      ></ion-toggle>
      <ion-range
        *ngIf="control.type === 'range'"
        [min]="control.options.min"
        [max]="control.options.max"
        [formControlName]="control.name"
      >
        <ion-icon
          size="small"
          slot="start"
          [name]="control.options.icon"
        ></ion-icon>
        <ion-icon slot="end" [name]="control.options.icon"></ion-icon>
      </ion-range>
      <ion-input
        *ngIf="control.type === 'date'"
        [value]="control.value | date: 'M/d/y hh:mm:ss a'"
        [id]="control?.name"
        (ionChange)="onDateChange($event, control)"
        [formControlName]="control.name"
        (click)="isDepended(control)"
      ></ion-input>
      <ion-modal *ngIf="control.type === 'date'" class="stack-modal" [trigger]="control?.name">
        <ng-template>
            <ion-buttons class="close-button">
              <ion-button shape="round" (click)="confirm()" color="light"><ion-icon name="close-outline" size="large"></ion-icon>
              </ion-button>
            </ion-buttons>
            <ion-datetime
                #popoverCalendar
                presentation="date-time"
                hour-cycle="h12"
                [value]="dependedChild===control.name?dependedDate:currentDate"
                [min]="dependedChild===control.name?dependedDate:currentDate"
                [max]="maxDate"
                (ionChange)="control.value = format(popoverCalendar?.value)">
              <ion-buttons slot="buttons">
                <ion-button (click)="confirm()">{{"CONFIRM"|translate}}</ion-button>
                <ion-button (click)="resetCalendar(control)">{{"RESET"|translate}}</ion-button>
              </ion-buttons>
            </ion-datetime>
        </ng-template>
      </ion-modal>
      <ion-select
        *ngIf="control.type === 'select'"
        [multiple]="control.multiple"
        [formControlName]="control.name"
        [compareWith]="compareWith"
      >
        <ion-select-option
          *ngFor="let option of control.options"
          [value]="[option]"
          >{{ option.label }}</ion-select-option
        >
      </ion-select>
      <app-input-chip
        *ngIf="control.type === 'chip'"
        [formControlName]="control.name"
        [label]="control.label"
        [chips]="control.options"
        [showSelectAll]="control.showSelectAll"
        [showAddOption]="control.showAddOption"
        [validators]="control.validators"
      ></app-input-chip>
      <ion-icon
        size="small"
        slot="end"
        [name]="control.type === 'password' ? 'eye-off' : 'eye'"
        *ngIf="control.type === 'password' || control.showPasswordIcon"
        class="icon"
        (click)="hideShowPassword(control)"
      ></ion-icon>
      <ion-icon 
      slot="end"
      size="small"
      name="information-circle"
      *ngIf="control.type === 'secretCode'"
      class="icon"
      (click)="alertToast()"
      ></ion-icon>
      <app-star-rating
        *ngIf="control.type === 'rating'"
        [formControlName]="control.name"
        [label]="control.label"
        [numberOfStars]="control.noOfstars"
      ></app-star-rating>
    </ion-item>
    <small class="error-msg d-flex error-msg flex-align-items-center" >
      <div *ngIf="myForm.get(control.name).touched && myForm.get(control.name).invalid ">
        <ion-icon name="alert-circle-outline"></ion-icon>
        <span *ngIf="control.errorMessage" class="mx-10">{{control?.errorMessage}}</span>
        <span *ngIf="!control.errorMessage" class="mx-10">Enter {{control?.label}}</span>
      </div>
    </small>
  </div>
</form>
