<form [formGroup]="myForm" *ngIf="showForm">
  <div class="fields" *ngFor="let control of jsonFormData?.controls; let i=index">
    <ion-item
      class="ion-no-padding"
      [class]="control.class"
      [ngClass]="{
        'form-invalid':
          myForm.get(control.name).touched && myForm.get(control.name).invalid
      }"
    >
    <div *ngIf="control.label !== '' && !['rating'].includes(control.type) && !['chip'].includes(control.type) && !['search'].includes(control.type)" class="d-flex flex-align-items-center">
      <ion-label position="stacked">
        {{ control.label }}&nbsp;<span *ngIf="control?.validators['required']==true" class="star-icon-red">*</span>
      </ion-label>
      <ion-icon *ngIf="control?.info" id="{{control.name}}" class="info" name="information-circle"></ion-icon>
      <ion-popover trigger="{{control.name}}" triggerAction="hover">
        <ng-template>
          <ion-content class="ion-padding">
            <div class="ion-padding-bottom" *ngFor="let info of control.info"><span class="popover-header">{{info?.header}}:</span> {{info?.message}}</div>
          </ion-content>
        </ng-template>
      </ion-popover>
    </div>
      <ion-input
        *ngIf="
          control.type==='text' && control?.isNumberOnly
        "
        [type]="control.type"
        [formControlName]="control.name"
        [value]="control.value"
        autocomplete="new-password"
        [maxlength]="control?.validators?.maxLength"
        (ionChange)="removeSpace($event)"
        numberOnly
      ></ion-input>
      <ion-input
        *ngIf="
          [
            'text',
            'password',
            'email',
            'number',
            'tel',
            'url',
            'secretCode'
          ].includes(control.type) && !control?.isNumberOnly
        "
        [type]="control.type"
        [formControlName]="control.name"
        [value]="control.value"
        autocomplete="new-password"
        [maxlength]="control?.validators?.maxLength"
        (ionChange)="removeSpace($event)"
        [placeholder]="control.platformPlaceHolder"
        (keyup.enter)="onEnterPress($event)"
      ></ion-input>
      <ion-textarea
        *ngIf="control.type === 'textarea'"
        [formControlName]="control.name"
        [value]="control.value"
        autocomplete="new-password"
        [maxlength]="control?.validators?.maxLength"
        (ionChange)="removeSpace($event)"
        [placeholder]="control.platformPlaceHolder"
      ></ion-textarea>
      <ion-checkbox
        *ngIf="control.type === 'checkbox'"
        [formControlName]="control.name"
        [checked]="control.value"
      ></ion-checkbox>
      <ion-toggle
        *ngIf="control.type === 'toggle'"
        [formControlName]="control.name"
        [checked]="control.value"
      ></ion-toggle>
      <ion-range
        *ngIf="control.type === 'range'"
        [min]="control.options.min"
        [max]="control.options.max"
        [formControlName]="control.name"
      >
        <ion-icon
          size="small"
          slot="start"
          [name]="control.options.icon"
        ></ion-icon>
        <ion-icon slot="end" [name]="control.options.icon"></ion-icon>
      </ion-range>
      <mat-form-field *ngIf="control.type === 'date'" appearance="fill">
        <input matInput [ngxMatDatetimePicker]="picker" 
          [formControlName]="control.name"
          [value]="control.value"
          [min]="(control.name === dependedChild)?dependedChildDate:currentDate"
          [max]="maxDate"
          autocomplete="new-password"
          [disabled]="control?.disabled"
          (dateChange)="dateSelected($event, control)"
          (click)="dateInputClick(control,picker)">
        <mat-datepicker-toggle matSuffix [for]="$any(picker)">
        </mat-datepicker-toggle>
        <ngx-mat-datetime-picker #picker 
          [showSpinners]="showSpinners" 
          [showSeconds]="showSeconds"
          [stepHour]="stepHour" [stepMinute]="stepMinute" 
          [stepSecond]="stepSecond"
          [touchUi]="touchUi"
          [enableMeridian]="enableMeridian"
          [color]="color">
        </ngx-mat-datetime-picker>
      </mat-form-field> 
      <ion-select
        *ngIf="control.type === 'select'"
        [multiple]="control.multiple"
        [formControlName]="control.name"
        [compareWith]="compareWith"
        [selectedText]="control?.value?.label"
        [okText]="'OK' | translate"
        (ionChange)="selectionChanged(control,$event)"
        [cancelText]="'CANCEL' | translate"
      >
        <ion-select-option
          *ngFor="let option of control.options"
          [value]="option.value"
          >{{ option.label }}</ion-select-option
        >
      </ion-select>
      <app-input-chip
        *ngIf="control.type === 'chip'"
        [formControlName]="control.name"
        [label]="control.alertLabel?control.alertLabel:control.label"
        [chips]="control.options"
        autocomplete="new-password"
        [showSelectAll]="control.meta.showSelectAll"
        [showAddOption]="control.meta.showAddOption"
        [validators]="control.validators"
        [allowCustomEntities]="control.meta.allow_custom_entities"
      ></app-input-chip>
      <app-search-and-select
        *ngIf="control.type === 'search'"
        [formControlName]="control.name"
        [control]="control"
        (showSelectionPopover)="searchEventEmitter($event)"
        [uniqueId]="i"
      ></app-search-and-select>
      <ion-icon
        size="small"
        slot="end"
        [name]="control.type === 'password' ? 'eye-off' : 'eye'"
        *ngIf="control.type === 'password' || control.showPasswordIcon"
        class="icon"
        (click)="hideShowPassword(control)"
      ></ion-icon>
      <app-star-rating
        *ngIf="control.type === 'rating'"
        [formControlName]="control.name"
        [label]="control.label"
        [numberOfStars]="control.no_of_stars"
      ></app-star-rating>
    </ion-item>
    <small class="error-msg d-flex error-msg flex-align-items-center" >
      <div *ngIf="myForm.get(control.name).touched && myForm.get(control.name).invalid ">
        <ion-icon name="alert-circle-outline"></ion-icon>
         <span *ngIf="control?.errorMessage[(myForm.get(control.name).errors | keyvalue)[0].key]" class="mx-10">
          {{ control?.errorMessage[(myForm.get(control.name).errors | keyvalue)[0].key] }}
        </span>
        <span *ngIf="!control?.errorMessage[(myForm.get(control.name).errors | keyvalue)[0].key]" class="mx-10">Enter {{control?.label}}</span> 
      </div>
    </small>
  </div>
</form>