@if (showForm) {
<form [formGroup]="myForm">
  @for (control of jsonFormData?.controls; track control?.name; let i = $index) {
  <div class="fields">
    @let ctrl = myForm.get(control.name);
    @if (control?.showField != false) {
    <ion-item
      class="ion-no-padding"
      [class]="control.class"
      [ngClass]="{
        'form-invalid':
          ctrl?.touched && ctrl?.invalid
      }"
    >
      @if (control.label !== '' && !hiddenLabelTypes.includes(control.type)) {
      <div class="d-flex flex-align-items-center p-rel">
        <ion-label position="stacked">
          {{ control.label }}&nbsp;@if (control?.validators['required']==true && !readonly) {<span class="star-icon-red">*</span>}
        </ion-label>
        @if (control?.info) {
        <ion-icon [id]="control.name" class="info" name="information-circle"></ion-icon>
        }
        <ion-popover [trigger]="control.name" triggerAction="hover">
          <ng-template>
            <ion-content class="ion-padding">
              @for (info of control.info; track info?.header || info?.message) {
              <div class="ion-padding-bottom"><span class="popover-header">{{info?.header}}:</span> {{info?.message}}</div>
              }
            </ion-content>
          </ng-template>
        </ion-popover>
      </div>
      }

      @if (control.type==='text' && control?.isNumberOnly) {
      <ion-input
        [type]="control.type"
        [formControlName]="control.name"
        [value]="control.value"
        autocomplete="new-password"
        [maxlength]="control?.validators?.maxLength"
        (ionChange)="removeSpace($event)"
        numberOnly
      ></ion-input>
      }

      @if (['text', 'password', 'email', 'number', 'tel', 'url', 'secretCode'].includes(control.type) && !control?.isNumberOnly) {
      <ion-input
        [type]="control.type"
        [formControlName]="control.name"
        [value]="control.value"
        autocomplete="new-password"
        [maxlength]="control?.validators?.maxLength"
        (ionChange)="removeSpace($event)"
        [placeholder]="control.platformPlaceHolder"
        (keyup.enter)="onEnterPress($event)"
      ></ion-input>
      }

      @if (control.type === 'textarea') {
      <ion-textarea
        [formControlName]="control.name"
        [value]="control.value"
        autocomplete="new-password"
        [maxlength]="control?.validators?.maxLength"
        (ionChange)="removeSpace($event)"
        [placeholder]="control.platformPlaceHolder"
      ></ion-textarea>
      }

      @if (control.type === 'checkbox') {
      <ion-checkbox
        [formControlName]="control.name"
        [checked]="control.value"
      ></ion-checkbox>
      }

      @if (control.type === 'toggle') {
      <ion-toggle
        [formControlName]="control.name"
        [checked]="control.value"
        [slot]="control.slot || 'end'"
      ></ion-toggle>

      <div class="placeholder">
      {{ ctrl?.value ? control.placeholderOn : control.placeholderOff }}
      </div>
      }

      @if (control.type === 'range') {
      <ion-range
        [min]="control.options.min"
        [max]="control.options.max"
        [formControlName]="control.name"
      >
        <ion-icon
          size="small"
          slot="start"
          [name]="control.options.icon"
        ></ion-icon>
        <ion-icon slot="end" [name]="control.options.icon"></ion-icon>
      </ion-range>
      }

      @if (control.type === 'search-select') {
      <div (click)="openDynamicSelectModal()">
        <ion-input type="text" [readonly]="true" [value]="selectedDynamicValue">
        </ion-input>
      </div>
      }

      @if (control.type === 'date') {
      <div class="date-input-container">
        <input matInput class="date-input" [owlDateTimeTrigger]="dt" [owlDateTime]="dt" #dateInput
          [formControlName]="control.name"
          [value]="control.value"
          [min]="(control.name === dependedChild)?dependedChildDate:currentDate"
          [max]="maxDate"
          autocomplete="new-password"
          [disabled]="control?.disabled"
          (dateTimeChange)="dateSelected($event, control)"
          (click)="dateInputClick(control,dt)"
        >
        <owl-date-time #dt
          [stepHour]="stepHour" [stepMinute]="stepMinute" 
          [stepSecond]="stepSecond"
          [hour12Timer]="enableMeridian"
        ></owl-date-time>
        <ion-icon class="calendar-icon" (click)="dateInput.click()" name="calendar-outline"></ion-icon>
      </div>
      }

      @if (control.type === 'select') {
      <ion-select class="p-rel"
        [multiple]="control.multiple"
        [formControlName]="control.name"
        [compareWith]="compareWith"
        [selectedText]="control?.value?.label"
        [okText]="'OK' | translate"
        (ionChange)="selectionChanged(control,$event)"
        [cancelText]="'CANCEL' | translate"
      >
        @for (option of control.options; track option?.value || option?.label) {
        <ion-select-option
          [value]="option.value"
        >{{ option.label }}</ion-select-option>
        }
      </ion-select>
      }

      @if (control.type === 'chip') {
      <app-input-chip class="p-rel"
        [formControlName]="control.name"
        [label]="control.alertLabel?control.alertLabel:control.label"
        [chips]="control.options"
        autocomplete="new-password"
        [showSelectAll]="control.meta.showSelectAll"
        [showAddOption]="control.meta.showAddOption"
        [validators]="control.validators"
        [allowCustomEntities]="control.meta.allow_custom_entities"
      ></app-input-chip>
      }

      @if (control.type === 'search') {
      <app-search-and-select
        [formControlName]="control.name"
        [control]="control"
        (showSelectionPopover)="searchEventEmitter($event)"
        [uniqueId]="i"
        [sessionId]="sesionId"
      ></app-search-and-select>
      }

      @if (control.type === 'password' || control.showPasswordIcon) {
      <ion-icon
        size="small"
        slot="end"
        [name]="control.type === 'password' ? 'eye-off' : 'eye'"
        class="icon"
        (click)="hideShowPassword(control)"
      ></ion-icon>
      }

      @if (control.type === 'rating') {
      <app-star-rating
        [formControlName]="control.name"
        [label]="control.label"
        [numberOfStars]="control.no_of_stars"
      ></app-star-rating>
      }
    </ion-item>
    }

    @if (control?.showField != false) {
    <small class="error-msg d-flex error-msg flex-align-items-center">
      @if (ctrl?.touched && ctrl?.invalid) {
      @let firstErrorKey = (ctrl?.errors | keyvalue)[0]?.key;
      <div>
        <ion-icon name="alert-circle-outline"></ion-icon>
         @if (control?.errorMessage[firstErrorKey]) {
        <span class="mx-10">
          {{ control?.errorMessage[firstErrorKey] }}
        </span>
        } @else {
        <span class="mx-10">Enter {{control?.label}}</span>
        }
      </div>
      }
    </small>
    }
  </div>
  }
</form>
}
