<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start" (click)="closeModal()">
      <ion-icon size="large" name="arrow-back-outline"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div *ngIf="isMentor" class="top-header">
    <strong>{{"MENTOR_FEEDBACK_HEADER" | translate}}</strong>
  </div>
  <div *ngIf="!isMentor" class="top-header">
    <strong>{{"MENTEE_FEEDBACK_HEADER" | translate}}</strong>
  </div>

  <div class="bottom-line"></div>
  <div *ngIf="formData?.controls?.length" class="rating">
    <app-dynamic-form [jsonFormData]="formData" #form1> </app-dynamic-form>
  </div>

</ion-content>
<ion-footer class="ion-no-border">
  <ion-button expand="full" (click)="submit()">{{'SUBMIT_FEEDBACK' | translate}}</ion-button>
</ion-footer>