<app-page-header [config]="headerConfig"></app-page-header>


<ion-content [fullscreen]="true">
    <div class="top-header">
        <strong>{{"FEEDBACK_HEADER" | translate}}</strong>
    </div>

    <div class="bottom-line"></div>

    <div *ngFor="let data of formData">
        <div class="feedback">
            <strong>{{data.label}}</strong>
            <div class="rating">
                <app-star-rating [numberOfStars]="data.numberOfStars" (starRating)="getRating($event,data)"></app-star-rating>
            </div>
        </div>
    </div>
</ion-content>
<ion-footer class="ion-no-border">
    <ion-button expand="full" (click)="submit()">{{'SUBMIT_FEEDBACK' | translate}}</ion-button>
</ion-footer>