<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start" (click)="closeModal()">
      <ion-icon size="large" name="arrow-back-outline"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  @if (isMentor()) {
    <div class="top-header">
      <strong>{{ 'THANK_FOR_HOSTING' | translate }} '{{ sessionTitle() }}'! {{ 'HELP_US_IMPROVE' | translate }}</strong>
    </div>
  } @else {
    <div class="top-header">
      <strong>{{ 'THANK_FOR_ATTENDING' | translate }} '{{ sessionTitle() }}' {{ 'BY' | translate }} '{{ mentorName() }}'! {{ 'HELP_US_IMPROVE' | translate }}</strong>
    </div>
  }

  <div class="bottom-line"></div>
  @if (formData().controls?.length) {
    <div class="rating">
      <app-dynamic-form [jsonFormData]="formData()" #form1> </app-dynamic-form>
    </div>
  }

</ion-content>
@if (formData().controls?.length) {
  <ion-footer class="ion-no-border">
    <section [class.btn-disabled]="!form1?.myForm?.valid" [class.btn-valid]="form1?.myForm?.valid">
      <ion-button [disabled]="!form1?.myForm?.valid" expand="full" (click)="submit()">{{ 'SUBMIT_FEEDBACK' | translate }}</ion-button>
    </section>
  </ion-footer>
}
