<div *ngIf="headerData" class="header-bottom-border">
  <ion-row class="content-wrapper">
    <ion-col size="4">
      <div class="d-flex flex-justify-center">
        <img *ngIf="!headerData?.image || headerData?.image==''; else Img; let image" src="../../../../assets/prof-img/user.png" />
        <ng-template #Img>
          <img src="{{headerData?.image}}" />
        </ng-template>
      </div>
    </ion-col>
    <ion-col size="8" class="details-wrapper">
      <div>
        <ion-label *ngIf="headerData?.name" class="name">{{headerData?.name}} </ion-label>
        <ion-label *ngIf="showRole&&headerData?.isAMentor" class="role ellipsis">({{"MENTOR"|translate}})</ion-label>
        <ion-label *ngIf="showRole&&!headerData?.isAMentor" class="role ellipsis">({{"MENTEE"|translate}})</ion-label>
      </div>
      <div class="d-inline-flex flex-align-items-center my-4" *ngIf="headerData?.location?.length">
        <ion-icon name="location"></ion-icon>
        <ion-label class="location">{{headerData?.location[0]?.label}}</ion-label>
      </div>
      <div *ngIf="buttonConfig">
        <ion-button color="Light" expand="block" fill="outline" shape="round" (click)="action(buttonConfig?.action)">{{ buttonConfig?.label | translate }}</ion-button>
      </div>
    </ion-col>
  </ion-row>
</div>