@if (headerData() || userNotFound()) {
  @let header = headerData();
  @let buttons = buttonConfig()?.buttons;
  @let blocked = isblocked();
  @let chatEnabled = chatConfig() === 'true';
  <div class="header-bottom-border">
    @if (userNotFound()) {
      <ion-row class="content-wrapper">
        <ion-col size="4" class="text-center">
          <div class="d-flex flex-justify-center flex-align-items-center flex-col">
            <img [src]="header?.image || 'assets/prof-img/user.png'" 
                 [class.default-img]="!header?.image" />
          </div>
        </ion-col>
        <ion-col size="8" class="name-wrapper no-padding">
          <ion-label class="name">
            {{ "USER_NOT_FOUND" | translate }}
          </ion-label>
        </ion-col>
      </ion-row>
    } @else {
      <ion-row class="content-wrapper">
        <ion-col size="4">
          <div class="d-flex flex-justify-center flex-align-items-center flex-col">
            <div class="profile-img">
              @if (header?.is_connected && !blocked) {
                <ion-icon name="people-outline"></ion-icon>
              }
              <img [src]="header?.image || 'assets/prof-img/user.png'" 
                   [class.default-img]="!header?.image" />
            </div>

            @if (header?.rating?.average) {
              <div class="ratings-banner">
                {{ header.rating.average }} 
                <ion-icon name="star" style="margin-left: 5px"></ion-icon>
              </div>
            }
        
            @if ((header?.district || header?.state) && !blocked) {
              <div class="location-info">
                <ion-label class="location">
                  <ion-icon name="location"></ion-icon>
                  @if (header?.district?.label; as district) {
                    {{ district }}@if (header?.state?.label) {<span>, </span>}
                  }
                  @if (header?.state?.label; as state) {
                    {{ state }}
                  }
                </ion-label>
              </div>
            }
          </div>
        </ion-col>
        
        <ion-col size="8" class="details-wrapper">
          <div>
            @if (header?.name) {
              <ion-label class="name">{{ header.name | titlecase }}</ion-label>
            }
          </div>
          @if (header?.designation?.[0]?.label && header?.experience) {
            <div class="roles-div">
              <ion-label>
                {{ header.designation[0].label }} ({{ header.experience }} years)
              </ion-label>
            </div>
          }
          <div class="d-inline-flex flex-align-items-center my-4">
            @if (header?.is_mentor && !blocked) {
              <ion-label class="location">
                {{ "SESSIONS_CONDUCTED" | translate }} : {{ header?.sessions_hosted || 0 }}
              </ion-label>
            } @else if (!header?.is_mentor) {
              <ion-label class="location">
                {{ "SESSIONS_ATTENDED" | translate }} : {{ header?.sessions_attended || 0 }}
              </ion-label>
            }
          </div>
          
          @if (buttons && !blocked) {
            <div class="flex flex-justify-start mt-4 wrap">
              @for (button of buttons; track button.action) {
                @if ((((button.action === 'chat' && chatEnabled) || button.action !== 'chat') && !button.isHide)) {
                  <div>
                    <ion-button color="light" expand="block" (click)="action(button?.action)">
                      {{ button?.label | translate }}
                    </ion-button>
                  </div>
                }
              }
            </div>
          }
        </ion-col>
      </ion-row>
    }
  </div>
}
