img{    
    border-radius:50%;
    width: 95px;
    height: 95px;
}
ion-icon {
    color: white;
}
ion-col{
    display: block;
}
.name{
    font-weight: bold;
    font-size:20px;
    letter-spacing: .5px;
    margin-left: 2px;
}
.details-wrapper{
    margin: 22px 0px 0px 0px;
    padding-left: 8px;
}
.location{
    color: rgb(172, 175, 175);
    font-size: 14px;
    margin-left: 2px;
}
ion-button{
    border-width: thick !important;
    color: white;
    margin: 30px 20px 0px 0px;
    max-width: 250px;
    
}
.content-wrapper{
    padding: 16px 16px 16px 0px;
}
.view-roles{
    color: blue;
    text-decoration: underline;
    cursor: pointer;
    margin-left: 2%;
    font-size: small;
}
.roles-div{
    padding-left: 2px;
    padding-top: 1%
}