.session-card {
    padding: 8px 6px;
    border-radius: 10px;
    .thumbnail-image {
        width: 57px;
        height: 57px;
        border-radius: 50%;
    }
    .status-badge {
        background: var(--green);
        min-width: 60px;
        height: 16px;
        color: var(--white);
        padding: 1px;
        position: absolute;
        right: 0px;
        top: 0px;
        border-bottom-left-radius: 10px;
        font-size: 10px;
    }
    h5 {
        margin-bottom: 5px;
        margin-top: 0px;
        font-size: 16px;
    }
}
.text-align {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: rgb(41, 41, 41);
}
.margin-btm-10 {
    margin-bottom: 10px;
}

.button{
    --border-radius: 10px;
    flex:1;
}
ion-icon{
    font-size: 20px;
    color: black;
}
.date-label{
    margin-left: 8px;
    font-size: 12px;
    color: rgb(41, 41, 41);
}
.header{
    margin-top: 10px;
}
.join-platform{
    padding-left: 8px;
}
.add-meeting-link{
    width: 75%;
    text-decoration: underline;
    font-weight: 600;
    color: var(--ion-color-primary);
    z-index: 1000;

}
.meetingPlatform{
    padding-left: 10px;
}