<ion-card (click)="onAction(data._id,'cardSelect')" class="session-card">
  <span class="status-badge" *ngIf="data?.status">
    <ion-icon name="ellipse-sharp"></ion-icon> {{data?.status}}
  </span>
  <ion-row>
    <ion-col size="3" class="card-avatar">
      <ion-icon name={{data?.image}}></ion-icon>
    </ion-col>
    <ion-col size="9">
      <h5>{{data?.name || data?.title}}</h5>
      <p class="ellipsis">{{data?.reasOfExpertise}}</p>
    </ion-col>
  </ion-row>
  <div class="session-actions">
    <div class="session-enroll" *ngIf="action" (click)="$event.stopPropagation();onAction(data._id,action)">
      {{action | translate}} <ion-icon name="caret-forward-outline"></ion-icon>
    </div>
  </div>
</ion-card>