<ion-card *ngFor ="let session of sessions" (click)="onAction(session._id,'cardSelect')">
  <div class="session-card">
    <img class="card-avatar" src="assets/images/session_card.png">
    <div class="card-title">
      <h5>{{session.title}}</h5>
      <p>{{session.subTitle}}</p>
    </div>
  </div>
  <div class="session-enroll" *ngIf="showEnroll" (click)="$event.stopPropagation();onAction(session._id,'enroll')">
    {{"LABELS.ENROLL" | translate}} <ion-icon name="caret-forward-outline"></ion-icon>
  </div>
</ion-card>