<ion-card (click)="onCardClick(data)" class="session-card">
  <span class="status-badge" *ngIf="data?.status == 'live'">
    <ion-icon name="ellipse-sharp"></ion-icon> {{data?.status | titlecase}}
  </span>
  <ion-row>
    <ion-col size="3" class="card-avatar">
      <img *ngIf="!data?.image?.length; else Img; let image" class="thumbnail-image"
        src="../../../../assets/prof-img/user.png" />
      <ng-template #Img>
        <img class="thumbnail-image" src="{{data?.image}}" />
      </ng-template>
    </ion-col>
    <ion-col size="9">
      <h5 class="text-align">{{data?.name || data?.title | titlecase}}</h5>
      <div class="margin-btm-10" *ngIf="data?.areasOfExpertise?.length">
        <span class="ion-margin-top" *ngFor="let label of data?.areasOfExpertise;  let isLast=last">
          <ion-label>{{label?.label}}{{isLast ? '' : ', '}} </ion-label>
        </span>
      </div>
      <p class="text-align" *ngIf="data?.description">{{data?.description}}</p>
    </ion-col>
  </ion-row>
  <div class="session-actions">
    <div class="session-enroll" *ngIf="action=='ENROLL'" (click)="$event.stopPropagation(); onEnroll(data)">
      <ion-label>
        {{action | translate}} <ion-icon name="caret-forward-outline"></ion-icon>
      </ion-label>
    </div>
    <div class="session-enroll" *ngIf="action=='VIEW_PROFILE'" (click)="$event.stopPropagation(); onCardClick(data)">
      <ion-label>
        {{action | translate}} <ion-icon name="caret-forward-outline"></ion-icon>
      </ion-label>
    </div>
  </div>
</ion-card>