.active-icon {
  color: green; // Change color to green for active session
}

.inactive-icon {
  color: grey; // Change color to grey for inactive session
}

.active-but-logout-icon {
  color: var(--ion-color-primary);
}
.active-button{
  height: fit-content;
}
.activity-label{
  padding-left: 5px;
  width: 100%;
}
.container{
  display: flex !important;
  align-items: center !important;
  justify-content: right !important;
}
