<div *ngIf="rate===0">
  <ion-icon class="star" name="star-outline" (click)="onRate(1)"></ion-icon>
  <ion-icon class="star" name="star-outline" (click)="onRate(2)"></ion-icon>
  <ion-icon class="star" name="star-outline" (click)="onRate(3)"></ion-icon>
  <ion-icon class="star" name="star-outline" (click)="onRate(4)"></ion-icon>
  <ion-icon class="star" name="star-outline" (click)="onRate(5)"></ion-icon>
</div>
<div *ngIf="rate===1">
  <ion-icon class="star" name="star" (click)="onRate(1)"></ion-icon>
  <ion-icon class="star" name="star-outline" (click)="onRate(2)"></ion-icon>
  <ion-icon class="star" name="star-outline" (click)="onRate(3)"></ion-icon>
  <ion-icon class="star" name="star-outline" (click)="onRate(4)"></ion-icon>
  <ion-icon class="star" name="star-outline" (click)="onRate(5)"></ion-icon>
</div>
<div *ngIf="rate===2">
  <ion-icon class="star" name="star" (click)="onRate(1)"></ion-icon>
  <ion-icon class="star" name="star" (click)="onRate(2)"></ion-icon>
  <ion-icon class="star" name="star-outline" (click)="onRate(3)"></ion-icon>
  <ion-icon class="star" name="star-outline" (click)="onRate(4)"></ion-icon>
  <ion-icon class="star" name="star-outline" (click)="onRate(5)"></ion-icon>
</div>

<div *ngIf="rate===3">
  <ion-icon class="star" name="star" (click)="onRate(1)"></ion-icon>
  <ion-icon class="star" name="star" (click)="onRate(2)"></ion-icon>
  <ion-icon class="star" name="star" (click)="onRate(3)"></ion-icon>
  <ion-icon class="star" name="star-outline" (click)="onRate(4)"></ion-icon>
  <ion-icon class="star" name="star-outline" (click)="onRate(5)"></ion-icon>
</div>
<div *ngIf="rate===4">
  <ion-icon class="star" name="star" (click)="onRate(1)"></ion-icon>
  <ion-icon class="star" name="star" (click)="onRate(2)"></ion-icon>
  <ion-icon class="star" name="star" (click)="onRate(3)"></ion-icon>
  <ion-icon class="star" name="star" (click)="onRate(4)"></ion-icon>
  <ion-icon class="star" name="star-outline" (click)="onRate(5)"></ion-icon>
</div>
<div *ngIf="rate===5">
  <ion-icon class="star" name="star" (click)="onRate(1)"></ion-icon>
  <ion-icon class="star" name="star" (click)="onRate(2)"></ion-icon>
  <ion-icon class="star" name="star" (click)="onRate(3)"></ion-icon>
  <ion-icon class="star" name="star" (click)="onRate(4)"></ion-icon>
  <ion-icon class="star" name="star" (click)="onRate(5)"></ion-icon>
</div>