.star {
  font-size: 30px;
  margin-right: 6px;
  color: var(--yellow);
}

.star-small {
  color: var(--yellow);
}

.star-align{
  display: flex;
  flex-direction: row;
  margin-left: 20px;
  margin-bottom: 20px;
}  

.feedback-question{
  margin: 20px 20px 30px 20px;
  font-size: 17px;
  letter-spacing: 0.5px;
  color: rgb(37, 44, 43);
}
.disable{
  pointer-events: none;
  display: flex;
  flex-direction: row;
  margin-left: 20px;
  margin-bottom: 20px;
}