<ion-header>
  <div class="ion-padding-start wrapper-class ion-padding-bottom">
    <ion-label class="header">{{"FILTER"|translate}}</ion-label>
    <ion-label class="underline" (click)="clearAll()">{{"CLEAR_ALL"|translate}}</ion-label>
  </div>
</ion-header>
<ion-content>
  <div class="ion-padding-start ion-padding-top" *ngFor="let filter of filtersData.form">
    <ion-label class="sub-header">{{filter?.title}}</ion-label>
    <div class="ion-padding-top d-flex flex-align-items-center" *ngFor="let data of filtersData.data[filter.key]">
      <ion-checkbox slot="start" [(ngModel)]="data.isSelected"></ion-checkbox>
      <ion-label class="ion-padding-start">{{data?.name || data?.label}}</ion-label>
    </div>
  </div>
</ion-content>