.main-wrapper{
    margin-left: 25px;
    margin-right: 25px;
    margin-top: 20px;
}
.field-wrapper{
    margin-top: 30px;
}
.field{
    margin-top: 10px;
}
ion-chip{

    margin-top: 15px;
    --background: rgb(176, 214, 236);
}

div p{
      font-size: 15px;
  }
  ion-toolbar{
      --padding-bottom: 0px;
  }

  