<ion-toolbar position="top" color="primary">
  <div class="container">
    <h2 class="ion-padding-start ion-padding-top">Select {{data.control.label}}</h2>
    <div class="close-col">
      <ion-icon class="close-button" name="close-outline" (click)="closePopover()"></ion-icon>
    </div>
  </div>
</ion-toolbar>

<ion-content>
  @if (!data?.viewListMode) {
  <div class="search-col d-flex flex-justify-center ion-padding-top ion-margin-top ion-margin-start">
    @if (data.showSearch) {
    <ion-searchbar class="search-style" [(ngModel)]="searchText"
      (ionChange)="onSearch()" (ionClear)="clearText()" placeholder="Search {{data.control.label}}"></ion-searchbar>
    }
    <h2 class="ion-padding-start label-button" (click)="clearAll()">{{ "CLEAR_ALL" | translate }}</h2>
  </div>
  }
  @if (entities() && !data?.viewListMode) {
  <div class="competency-list-wrapper">
    @for (option of entities().data; track $index) {
    <ion-item lines="none">
      <ion-checkbox slot="start" labelPlacement="end" [checked]="isOptionSelected(option)" (ionChange)="onCheckboxChange($event, option)">{{ option?.label }}</ion-checkbox>
    </ion-item>
    }
  </div>
  }

  @if (data?.viewListMode) {
  <div class="competency-list-wrapper">
    @for (item of data.selectedData; track $index) {
    <ion-item lines="none">
      <ion-checkbox slot="start" labelPlacement="end" checked="true" (ionChange)="onCheckboxChange($event, item)">{{ item?.label }}</ion-checkbox>
    </ion-item>
    }
  </div>
  }
  <ion-infinite-scroll (ionInfinite)="loadMore($event)">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
<ion-footer>
  <ion-button expand="full" (click)="onSave()">{{"SAVE"|translate}}</ion-button>
</ion-footer>