.field-wrapper{
    margin : 20px 25px 10px 25px
}
.field{
    margin-top: 10px;
}
ion-chip{
    --background: var(--white);
    margin-top: 6px;
}

.value{
      font-size: 14px;
      color: var(--grey-medium);
      margin-top: 5px;
}
  ion-toolbar{
      --padding-bottom: 0px;
  }
  .session-detail-heading{
      font-size: 14px;
      font-weight: bold;
      color: var(--dark-grey);
      margin-bottom: 5px;
  }