<div class="field-wrapper" *ngFor="let item of sessionData.form">
  <div *ngIf="!sessionData?.menteeForm?.includes(item.title) || (sessionData?.menteeForm?.includes(item.title)&&!isMentor)">
    <p class="session-detail-heading">{{item.title | translate }}  
      <ion-icon *ngIf="item?.info" id="{{item.key}}" class="info" name="information-circle"></ion-icon>
      <ion-popover trigger="{{item.key}}" triggerAction="hover">
        <ng-template>
          <ion-content class="ion-padding">
            <div class="ion-padding-bottom"><span class="popover-header">{{item?.info}}</span></div>
          </ion-content>
        </ng-template>
      </ion-popover>
    </p>
    <div *ngIf="isArray(sessionData.data[item.key]); else elseBlock">
      <ion-chip outline="true" class="ion-margin-top" *ngFor="let chip of sessionData.data[item.key]">
        <ion-label>{{chip.label}}</ion-label>
      </ion-chip>
    </div>
    <ng-template #elseBlock>
      <p *ngIf="item?.key=='duration';else elseBlock2" class="value">{{sessionData.data.duration.hours}} {{"HOURS" | translate}} {{sessionData.data.duration.minutes}} {{"MINUTES" | translate}}</p>
    </ng-template>
    <ng-template #elseBlock2>
      <p *ngIf="item?.key=='startDate' || item?.key=='endDate';else elseBlock3" class="value">{{sessionData.data[item.key] | date:'MMM d, y, h:mm a'}}</p>
    </ng-template>
    <ng-template #elseBlock3>
      <div class="d-flex" *ngIf="item?.key=='mentee_count';else elseBlock4">
        <p class="mentee-count">{{sessionData.data[item.key] }}</p>
        <ion-button class="view-mentee-list" color="white" (click)="onClickViewList()">View list</ion-button>
      </div>
    </ng-template>
    <ng-template #elseBlock4>
      <div *ngIf="item?.key=='mentor_name';else elseBlock5">
        <p>{{sessionData.data[item.key] }}</p>
        <div>
          {{sessionData.data.mentor_designation}}
        </div>
      </div>
    </ng-template>
    <ng-template #elseBlock5>
      <p *ngIf="item?.key=='experience'" class="value">{{sessionData.data[item.key]}} {{"YEARS"|translate}}</p>
      <p *ngIf="item?.key!='experience'" class="value">{{sessionData.data[item.key]}}</p>
    </ng-template>
  </div>
</div>
