<div class="field-wrapper" *ngFor="let item of sessionData.form">
  <div *ngIf="!sessionData?.menteeForm?.includes(item.title) || (sessionData?.menteeForm?.includes(item.title)&&!sessionData.data.isAMentor)">
    <p class="session-detail-heading">{{item.title | translate }}</p>
    <div *ngIf="isArray(sessionData.data[item.key]); else elseBlock">
      <ion-chip outline="true" class="ion-margin-top" *ngFor="let chip of sessionData.data[item.key]">
        <ion-label>{{chip.label}}</ion-label>
      </ion-chip>
    </div>
    <ng-template #elseBlock>
      <p *ngIf="item?.key=='duration';else elseBlock2" class="value">{{sessionData.data.duration.hours}} {{"HOURS" | translate}} {{sessionData.data.duration.minutes}} {{"MINUTES" | translate}}</p>
    </ng-template>
    <ng-template #elseBlock2>
      <p *ngIf="item?.key=='startDate' || item?.key=='endDate';else elseBlock3" class="value">{{sessionData.data[item.key] | date:'MMM d, y, h:mm a'}}</p>
    </ng-template>
    <ng-template #elseBlock3>
      <p *ngIf="item?.key=='experience'" class="value">{{sessionData.data[item.key]}} {{"YEARS"|translate}}</p>
      <p *ngIf="item?.key!='experience'" class="value">{{sessionData.data[item.key]}}</p>
    </ng-template>
  </div>
</div>