.field-wrapper{
    margin-top: 30px;
}
.field{
    margin-top: 10px;
}
ion-chip{
    --background: #E3EBFF;
    font-weight: bold;
    margin-top: 6px;
}

.value{
      font-size: 15px;
  }
  ion-toolbar{
      --padding-bottom: 0px;
  }