.field-wrapper{
    margin : 20px 25px 10px 15px
}
ion-chip{
    --background: var(--white);
    color: var(--dark-gray);
    margin-top: 6px;
    height: auto;
}

.value{
      font-size: 14px;
      color: var(--dark-gray);
      margin-top: 5px;
}
  ion-toolbar{
      --padding-bottom: 0px;
  }
  .session-detail-heading{
      font-size: 16px;
      font-weight: bold;
      color: var(--dark-grey);
      margin-bottom: 5px;
  }
.break-word{
    word-break: break-word;
    overflow-wrap: break-word;
}
.view-mentee-list{
    color: var(--ion-color-primary);
    border: 1px solid var(--ion-color-primary);
    border-radius: 10px;
}
.mentee-count{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 10px;
}
.resources-link{
    padding: 10px 14px;
    border-radius: 12px;
    border: 1px solid var(--ion-color-primary);
    margin: 8px 10px;
    width: fit-content;
    display: flex;
    flex-wrap: wrap;
}