<div class="d-flex flex-align-items-center;">
  <ion-label position="stacked" class="head-label" [ngClass]="{'disabled-label':control?.disabled}">
    {{ control.label }}&nbsp;<span *ngIf="control?.validators['required']==true" class="star-icon-red">*</span>
  </ion-label>
  <ion-icon *ngIf="control?.info" [id]="control.name" class="info" name="information-circle"></ion-icon>
  <ion-popover [trigger]="control.name" triggerAction="hover">
    <ng-template>
      <ion-content class="ion-padding">
        <div class="ion-padding-bottom" *ngFor="let info of control.info">
          <span *ngIf="info?.header" class="popover-header">{{info?.header}}:</span> {{info?.message}}</div>
      </ion-content>
    </ng-template>
  </ion-popover>
</div>
<div class="ion-margin-top">
  <ion-chip (click)="showPopover()" [disabled]="control?.disabled">
    <ion-icon class="icon" name="add-outline" color="dark"></ion-icon>
    <ion-label>{{control?.meta.labelForAddButton || control?.label}}</ion-label>
  </ion-chip>

  <ion-chip *ngIf="allowCustomEntities" (click)="addNewOption()">
    <ion-icon name="add"></ion-icon>
    <ion-label> {{ "OTHER" | translate}}</ion-label>
  </ion-chip>

  <ng-container *ngFor="let data of selectedData; let i = index">
    <ion-chip *ngIf="i < 3" class="color-red" [disabled]="control?.disabled">
      <ion-icon class="icon" [name]="icon.name" [color]="icon.color" (click)="handleCloseIconClick($event, data)"></ion-icon>
      <ion-label class="capitalize">{{data.name || data.label}}</ion-label>
    </ion-chip>
  </ng-container>

  <ion-chip *ngIf="selectedData.length > 3" (click)="viewSelectedList()" class="color-red" [disabled]="control?.disabled">
    <ion-icon class="icon" name="add-outline" color="light"></ion-icon>
    <ion-label>{{selectedData.length-3}} more</ion-label>
  </ion-chip>
</div>