<div class="d-flex flex-align-items-center p-rel">
  <ion-label position="stacked" class="head-label" [ngClass]="{'disabled-label':control?.disabled}">
    {{ control.label }}&nbsp;@if (control?.validators['required']==true) {<span class="star-icon-red">*</span>}
  </ion-label>
  @if (control?.info) {
  <ion-icon [id]="control.name" class="info" name="information-circle"></ion-icon>
  }
  <ion-popover [trigger]="control.name" triggerAction="hover">
    <ng-template>
      <ion-content class="ion-padding">
        @for (info of control.info; track $index) {
        <div class="ion-padding-bottom">
          @if (info?.header) {<span class="popover-header">{{info?.header}}:</span>} {{info?.message}}
        </div>
        }
      </ion-content>
    </ng-template>
  </ion-popover>
</div>
<div class="ion-margin-top">
  <ion-chip (click)="showPopover()" [disabled]="control?.disabled">
    <ion-icon class="icon" name="add-outline" color="dark"></ion-icon>
    <ion-label>{{control?.meta.labelForAddButton || control?.label}}</ion-label>
  </ion-chip>

  @if (allowCustomEntities) {
  <ion-chip (click)="addNewOption()" [disabled]="control?.disabled">
    <ion-icon name="add"></ion-icon>
    <ion-label class="wrap"> {{ "OTHER" | translate}}</ion-label>
  </ion-chip>
  }
  @if (control.meta.add_link) {
  <ion-chip (click)="addLink(control)" [disabled]="control?.disabled">
    <ion-icon name="add"></ion-icon>
    <ion-label> {{ "ADD_LINK" | translate}}</ion-label>
  </ion-chip>
  }
  @for (data of selectedData; track $index) {
    @if ($index < 5 && (data.name || data.label) && control.meta.addPopupType != 'file') {
    <ion-chip class="color-red" [disabled]="control?.disabled || data?.type === 'ENROLLED'">
      <ion-icon class="icon" [name]="icon.name" [color]="icon.color"
        (click)="handleCloseIconClick($event, data)"></ion-icon>
      <ion-label [ngClass]="data?.isLink ? 'capitalize' :''" class="word-break">{{data.name || data.label}}</ion-label>
    </ion-chip>
    }
  }
  @if (control.meta.addPopupType == 'file') {
    @for (file of control?.value; track $index) {
    <ion-chip class="color-red" [disabled]="control?.disabled">
      <ion-icon color="#fff" name="close-circle" (click)="removeFile(file,$index)" class="remove-icon"></ion-icon>
      <ion-label class="capitalize">{{file.name || file.label}}</ion-label>
    </ion-chip>
    }
  }

  @if (selectedData.length > 5) {
  <ion-chip (click)="viewSelectedList()" class="color-red"
    [disabled]="control?.disabled">
    <ion-icon class="icon" name="add-outline" color="light"></ion-icon>
    <ion-label>{{selectedData.length-5}} more</ion-label>
  </ion-chip>
  }
</div>