ion-chip {
    margin: 10px;
    height: 38px;
    border-radius: 25px;
}
.head-label{
    font-weight: bold;
    color: var(--black);
    font-size: 18px !important;
    overflow: visible !important;
 }

.head-label::first-letter{
    text-transform: capitalize;
 }

 .info {
    font-size: 24px !important;
    margin-top: 5px;
    z-index: 1000;
  }

  .color-red {
    --background: var(--ion-color-primary);
    --color: var(--white)
  }
  .icon{
    z-index: 1000;
  }