<app-page-header [config]="headerConfig()">
    @if (routeData() && overlayChips()) {
      <app-searchbar
        [placeholder]="routeData()?.placeholder | translate"
        (clearText)="onClearSearch($event)"
        [overlayChip]="overlayChips()"
        (outputData)="searchResults($event)"
        [valueFromParent]="valueFromChipAndFilter()">
      </app-searchbar>
    }
</app-page-header>

<app-chips-and-filter
  [selectedFilters]="chips()"
  [searchAndCriteriaData]="searchAndCriterias()"
  (removeFilterChip)="removeChip($event)"
  (filterClick)="onClickFilter()"
  (sendChildValue)="eventHandler($event)"
  [isFilterEnable]="filterIcon()">
</app-chips-and-filter>

<ion-content>
  @if (showSearchRow()) {
    <ion-row>
      <div class="search-navigation">
        <div class="search-result">
          <div class="search-result-label">
            <ion-buttons slot="start">
              <ion-back-button defaultHref="/tabs/home" (click)="goToHome()"></ion-back-button>
            </ion-buttons>
            @if (searchText() && totalCount() > 0) {
              <ion-label>{{"MENTOR_SEARCH_RESULT" | translate}} "{{searchText()}}"</ion-label>
            }
          </div>
          @if (totalCount() > 0 && searchText()) {
            <div class="search-result-count">
              <ion-label>{{totalCount()}} {{"SEARCH_RESULT" | translate}}</ion-label>
            </div>
          }
        </div>
        @if (totalCount() > 0 && responseData()?.length) {
          <div class="paginator">
            <mat-paginator
              [length]="totalCount()"
              [pageSize]="pageSize"
              [pageSizeOptions]="pageSizeOptions"
              (page)="onPageChange($event)">
            </mat-paginator>
          </div>
        }
      </div>
    </ion-row>
  }

  <ion-row class="d-flex">
    @for (value of responseData(); track value.id) {
      <ion-col padding sizeXs="12" sizeSm="12" sizeMd="6" sizeLg="6" size-xl="4" align-self-stretch>
        <app-generic-card
          [data]="value"
          (onClickEvent)="eventAction($event)"
          [buttonConfig]="buttonConfig()"
          [cardConfig]="mentorForm()">
        </app-generic-card>
      </ion-col>
    }
  </ion-row>

  @if (!totalCount() && isLoaded()) {
    <div>
      <app-no-data-found
        [messageHeader]="noResult()?.header"
        [noResult]="noResult()"
        [exploreButton]="enableExploreButton()">
      </app-no-data-found>
    </div>
  }
</ion-content>
