.image{
    height: 56px;
}
.session-sqr-skeleton{
    height: 155px;
}
.session-card-skeleton{
    height: 90px;
}
.session-sqr-card-margin{
    margin-top: 50px;
}
.session-card-margin{
    margin-top: 20px;
}