<ion-split-pane contentId="main-content">
  <ion-menu contentId="main-content" menuId="side-menu" type="overlay" swipeGesture="false" class="width-20">
    <ion-header [translucent]="true" class="ion-no-border"
      [ngClass]="{'disable-div': privateService.user()?.profile_mandatory_fields?.length || !privateService.user()?.about}">
      @if (privateService.user(); as userData) {
      <div class="sub-menu-toolbar">
        <div slot="start" class="img-mainDiv">
          @if (userData?.image) {
          <div class="image-div">
            <img class="profile-image" [src]="userData?.image" />
          </div>
          } @else {
          <ion-icon slot="icon-only" name="person-circle" class="no-image-icon"></ion-icon>
          }
        </div>
        <div class="usr-div">
          <ion-label class="username"><strong>{{userData?.name}}</strong></ion-label>
          <div class="user-role-labels">
            @if (privateService.userRoles()) {
            <ion-label>{{ roleLabel() | translate }}
            </ion-label>
            }
            <ion-label class="view-roles" (click)="privateService.viewRoles()">{{"VIEW_ROLES" | translate}}</ion-label>
          </div>
          <a (click)="privateService.goToProfilePage()" class="cursor" *allowTemplateView="PAGE_IDS.profile">{{"PROFILE"
            |
            translate}}</a>
        </div>
      </div>
      }
    </ion-header>
    @if (privateService.user(); as userData) {
    <ion-content fullscreen [ngClass]="{'disable-div': userData?.profile_mandatory_fields?.length || !userData?.about}">
      <div class="menu-css">
        <ion-list lines="none" class="sub-menu-list">
          @if (privateService.adminAccess()) {
          <ion-menu-toggle auto-hide="false" [class]="privateService.adminPage?.class">
            <ion-item [routerLink]="privateService.adminPage?.url" lines="none" detail="false"
              (click)="privateService.menuItemAction(privateService.adminPage)"
              *allowTemplateView="privateService.adminPage?.pageId">
              @if (isCustomIcon(privateService.adminPage?.icon)) {
              <img [src]="privateService.adminPage.icon" class="side-menu-icon custom-icon" slot="start"
                alt="{{ privateService.adminPage.title }} icon" />
              } @else {
              <ion-icon class="side-menu-icon" slot="start" [ios]="privateService.adminPage.icon + '-outline'"
                [md]="privateService.adminPage.icon + '-outline'"></ion-icon>
              }
              <ion-label class="sub-menu-list-label"><strong>{{ privateService.adminPage.title | translate}}
                </strong></ion-label>
            </ion-item>
          </ion-menu-toggle>
          }
          @for (p of privateService.appPages(); track p.pageId; let i = $index) {
          <ion-menu-toggle auto-hide="false" [class]="p?.class">
            @if (p.badge) {
            <span class="badge"></span>
            }
            <ion-item [routerLink]="p?.url" lines="none" detail="false" (click)="privateService.menuItemAction(p)"
              *allowTemplateView="p?.pageId">
              @if (isCustomIcon(p.icon)) {
              <img [src]="p.icon" class="side-menu-icon custom-icon" slot="start" alt="{{ p.title }} icon" />
              } @else {
              <ion-icon class="side-menu-icon" slot="start" [ios]="p.icon + '-outline'" [md]="p.icon + '-outline'">
              </ion-icon>
              }
              <ion-label class="sub-menu-list-label"><strong>{{ p.title | translate}}</strong>
              </ion-label>
            </ion-item>
          </ion-menu-toggle>
          }
        </ion-list>
      </div>
    </ion-content>
    }
    <!-- <ion-footer class="side-menu-footer" *ngIf="user">
      <ion-row (click)="logout()" class="cursor" *allowTemplateView="'PROFILE_PAGE'">
        <ion-col size="12">
          <div class="d-flex flex-justify-center">
            <ion-icon name="power" size="large" class="ion-margin-end" color="light">
            </ion-icon>
            <strong class="space-bottom"> {{"LOGOUT" | translate}}</strong>
          </div>
        </ion-col>
      </ion-row>
    </ion-footer> -->
  </ion-menu>
  <ion-router-outlet id="main-content"></ion-router-outlet>
</ion-split-pane>