<div>
  <div class="d-flex flex-justify-center">
    <img *ngIf="!profileImageData?.profile_image; else Img; let image" class="thumbnail-image"
      src="../../../../assets/prof-img/user.png" />
    <ng-template #Img>
      <img class="thumbnail-image" src="{{profileImageData?.profile_image}}" />
    </ng-template>
  </div>
  <div *ngIf="profileImageData?.name">
    <p class="username">{{ profileImageData?.name }}</p>
  </div>
  <div *ngIf="profileImageData?.region">
    <p class="region">{{ profileImageData?.region }}</p>
  </div>
</div>