.thumbnail-image{
    width: 40px;
    height: 40px;
}
h5{
    margin-top: 10px;
    font-size: 18px;
    text-align: center;
}
h6{   
    margin-top: 5px;
    font-size: 16px;
    margin-bottom: 50px;
    text-align: center;

}