.thumbnail-image{
    width: 40px;
    height: 40px;
}
.username{
    font-size: 18px;
    text-align: center;
    margin: 4px;
}
.region{   
    font-size: 16px;
    text-align: center;
    margin: 4px;
}
.join-button{
    display: flex;
    justify-content: center;
}