<div>
  <div class="d-flex flex-justify-center">
    <img *ngIf="!profileImageData?.image?.length; else Img; let image" class="thumbnail-image"
      src="../../../../assets/prof-img/user.png" />
    <ng-template #Img>
      <img class="thumbnail-image" src="{{profileImageData?.image}}" />
    </ng-template>
  </div>
  <p class="add-photo" *ngIf="uploadImage" (click)="uploadPhoto()">{{ "ADD_PHOTO" | translate }}</p>
  <div class="padding" *ngIf="profileImageData;">
    <div *ngIf="profileImageData?.name">
      <p class="padding text-config username">{{ profileImageData?.name }}</p>
    </div>
    <div *ngIf="profileImageData?.location">
      <p class="region text-config">{{ profileImageData?.location[0]?.label }}</p>
    </div>
  </div>
</div>