<app-page-header [config]="headerConfig" (actionEvent)="action($event)"></app-page-header>
<ion-content>
<div>
  <ion-grid>
    <ion-row class="d-flex flex-justify-center">
      <ion-col padding size-xs="12" size-sm="12" size-md="6" size-lg="6" >
      <div class="mx-10">
        <app-generic-header [labels]="labels"></app-generic-header>
        <section>
          <app-dynamic-form [jsonFormData]="formData" (onEnter)="onSubmit()" #form1> </app-dynamic-form>
        </section>
        <section>
          <div *ngIf="siteKey" class="d-flex flex-justify-center">
            <re-captcha (resolved)="onCaptchaResolved($event)" [siteKey]="siteKey" ></re-captcha>
          </div>
        </section>
        <section [ngClass]="{'btn-disabled': (form1.myForm.invalid || !recaptchaResolved), 'btn-valid':(form1.myForm.valid && recaptchaResolved)}">
          <div class="d-flex flex-justify-center">
            <ion-button class="mx-0 onboard-button" expand="block" shape="round" (click)="onSubmit()" size="large"
              [disabled]="!form1.myForm.valid || !recaptchaResolved">{{"LOGIN"|translate}}</ion-button>
          </div>
          <section class="ion-text-center">
            <div class="my-30 hover-pointer">
              <ion-text class="forgot-section" (click)="goToForgotPassword()">
                {{"FORGOT_PASSWORD"|translate}}
              </ion-text>
              <ion-ripple-effect></ion-ripple-effect>
            </div>
          </section>
          <section class="ion-text-center">
            <div class="my-30" color="primary">
              <ion-row class="mail-to-container d-flex">
              <ion-col>
                <ion-text color="medium"> {{'HAVING_TROUBLE_IN_LOGGING_IN' | translate}} 
                {{'WRITE_TO_US_AT' | translate}} <div class="email">{{ supportEmail}}</div></ion-text>  
              </ion-col> 
              </ion-row>
              <ion-ripple-effect></ion-ripple-effect>
            </div>
          </section>
          <div class="t-and-c">
            <p>{{"TERMS_AND_CONDITION"|translate}}
              <a class='links'
              [href]="privacyPolicyUrl" target="_blank">{{"PRIVACY_POLICY"|translate}}</a> & <a
                class='links' [href]="termsOfServiceUrl" target="_blank">{{"TERMS_OF_SERVICE"|translate}}</a>
            </p>
          </div>
        </section>
      </div>
    </ion-col>
    </ion-row>
  </ion-grid>
</div>
</ion-content>