<ion-content class="ion-padding">
  <h1 class="text-bold">{{"LOGIN_TO_CONNECT," | translate}}</h1>
  <h1 class="text-bold">{{"SOLVE_&_SHARE" | translate}}</h1>
  <div class="d-flex">
    <div>
      <hr />
    </div>
  </div>

  <section class="d-flex flex-justify-center ion-text-center">
    <div>
      <h5>{{"ALREADY_HAVE_ACCOUNT"|translate}}</h5>
      <ion-text color="primary"><strong>{{"LOG_IN"|translate}}</strong></ion-text>
    </div>
  </section>
  <section>
    <app-dynamic-form [jsonFormData]="formData" #form1> </app-dynamic-form>
  </section>

  <section class="ion-text-center btn-section" submitButton>
    <ion-button expand="block" (click)="onSubmit()">{{"LOGIN"|translate}}</ion-button>
    <span>
      <p>{{"TERMS_AND_CONDITION"|translate}}</p>
      <p>{{"PRIVACY_POLICY"|translate}}</p>
    </span>
  </section>
  <section class="or-section">
    <p><span>OR</span></p>
  </section>
  <section class="ion-text-center">
    <div class="mx-30"  routerLink="/{{AUTH}}/{{RESET_PASSWORD}}">
      <ion-text class="forgot-section">
        {{"FORGOT_PASSWORD"|translate}}
      </ion-text>
    </div>
    <div class="sign-up-section">
      <ion-button expand="block" routerLink="/{{AUTH}}/{{REGISTER}}">
        <ion-icon slot="start" name="mail-outline"></ion-icon> {{"SIGNUP_WITH_EMAIL"|translate}}
      </ion-button>
    </div>
  </section>
</ion-content>