.btn-valid,.btn-disabled {
  margin-top: 5%;
  span {
    margin: 5px;
    p {
      width: 100%;
      text-align: center;
      line-height: 5px;
      font-size: 14px;
    }
  }
}

.t-and-c {
  width: 100%;
  text-align: center;
  line-height: 5px;
  font-size: 14px;
  margin: 10% 0;
}

.or-section {
  p {
    width: 100%;
    text-align: center;
    border-bottom: 1px solid gray;
    line-height: 0.1em;
    margin: 10px 0 10px;
  }

  p span {
    background: #fff;
    padding: 0 10px;
    font-weight: 600;
  }
}

.text-bold {
  font-weight: bold;
}

.forgot-section {
  text-transform: uppercase;
  color: var(--grey-shade);
  font-weight: bold;
  font-size: 16px;
  margin-bottom: 10%;
}

.sub-heading{
  font-size: 14px;
  color: var(--grey-medium);
}

