<app-page-header [config]="headerConfig"></app-page-header>
<ion-content>
  <div class="main-wrapper">
    <app-profile-image [profileImageData]='profileImageData' [uploadImage]="true"
      (imageRemoveEvent)="removeCurrentPhoto($event)" (imageUploadEvent)="imageUploadEvent($event)"></app-profile-image>
    <div *ngIf="showForm" class="mx-10">
      <app-dynamic-form [jsonFormData]="formData" #form1> </app-dynamic-form>
    </div>
  </div>
</ion-content>

<ion-footer class="ion-no-border footer-button" submitButton>
  <ion-toolbar>
    <ion-button [disabled]="form1 && !form1.myForm.valid" expand="full" (click)="onSubmit()">{{'SUBMIT' | translate}}</ion-button>
  </ion-toolbar>
</ion-footer>