<app-page-header [config]="headerConfig"></app-page-header>

<ion-content>
  <app-profile-image [profileImageData]='profileImageData'></app-profile-image>
  <div>
    <app-dynamic-form [jsonFormData]="formData" #form1> </app-dynamic-form>
  </div>
</ion-content>

<ion-footer class="ion-no-border" submitButton>
  <ion-toolbar>
    <ion-button slot="end" (click)="onSubmit()">{{'SUBMIT' | translate}}</ion-button>
    <ion-button (click)="resetForm()">{{'RESET' | translate}}</ion-button>
  </ion-toolbar>
</ion-footer>