.main-wrapper{
    margin : 20px 25px 0px 25px
}

.empty-state-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    margin-top: 40%;
}
.dashboard-title {
    margin: 0;
    font-size: 15px;
    font-weight: 900;
}

.stat-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 25px;
}

.stat-title {
    color: var(--ion-color-primary);
    margin: 0;
    font-size: 13px;
    display: flex;
    flex-direction: column;
}

.bg-lite {
    background: var(--light-gray);
}

.stat-box {
    display: flex;
    gap: 3%;
}

.stat-filter {
    font-size: 14px;
    padding: 0;
}

.segment-label{
    font-weight: bold;
    text-transform: none;
}
.filter{
  margin-left: 18%;
  margin-right: 5%;
  border: 1px solid rgb(182, 177, 177);
  border-radius: 7px;
}