<app-page-header [config]="headerConfig"></app-page-header>


<ion-content [fullscreen]="true">
  <ion-grid>
    <ion-row class="d-flex  ion-justify-content-center">
      <ion-col padding size-xs="12" size-sm="12" size-md="10" size-lg="10">
  <div>
    <ion-toolbar *ngIf="isMentor">
      <ion-segment [value]="segment" swipeGesture="true" (ionChange)="segmentChanged($event)">
        <ion-segment-button value="mentor">
          <ion-label class="segment-label">{{'AS_A_MENTOR' | translate}}</ion-label>
        </ion-segment-button>
        <ion-segment-button value="mentee">
          <ion-label class="segment-label">{{'AS_A_MENTEE' | translate}}</ion-label>
        </ion-segment-button>
      </ion-segment>
    </ion-toolbar>
    <div  class="main-wrapper">
      <ion-row class="stat-row">
        <ion-col>
          <p class="dashboard-title">{{'SESSION_OVERVIEW' | translate}}</p>
        </ion-col>
        <ion-col>
          <div class="filter">
            <app-filter [defaultValue]="selectedFilter" [filter]="filter" (filterChange)="filterChangeHandler($event)">
            </app-filter>
          </div>
        </ion-col>
      </ion-row>

      <div [ngSwitch]="segment"  *ngIf="dataAvailable">
        <div *ngSwitchCase="'mentor'">
          <ion-row class="stat-box">
            <ion-col class="bg-lite">
              <p class="stat-title">
                {{'TOTAL_SESSION_CREATED' | translate}}
                <span>{{ chartData?.total_session_created }}</span>
              </p>
            </ion-col>
            <ion-col size=".5">
            </ion-col>
            <ion-col class="bg-lite">
              <p class="stat-title">
                {{'TOTAL_SESSION_CONDUCTED' | translate}}
                <span>{{ chartData?.total_session_hosted }}</span>
              </p>
            </ion-col>
          </ion-row>
          <div class="my-chart" fxFlex *ngIf="chartData">
            <canvas id="MyChart">{{ chart }}</canvas>
          </div>
        </div>
        <div *ngSwitchCase="'mentee'">
          <ion-row class="stat-box">
            <ion-col class="bg-lite">
              <p class="stat-title">
                {{'TOTAL_SESSION_ENROLLED' | translate}}
                <span>{{ chartData?.total_session_enrolled }}</span>
              </p>
            </ion-col>
            <ion-col size=".5">
            </ion-col>
            <ion-col class="bg-lite">
              <p class="stat-title">
                {{'TOTAL_SESSION_ATTENDED' | translate}}
                <span>{{ chartData?.total_session_attended }}</span>
              </p>
            </ion-col>
          </ion-row>
        </div>
        <div class="my-chart" fxFlex *ngIf="dataAvailable">
          <canvas id="MyChart">{{ chart }}</canvas>
        </div>
      </div>
      <div class="empty-state-container" *ngIf="!dataAvailable">
        <app-no-data-found [messageHeader]="'NO_DATA_AVAILABLE'"></app-no-data-found>
      </div>
    </div>

  </div>
</ion-col>
</ion-row>
</ion-grid>
</ion-content>


<ion-footer class="ion-no-border">
</ion-footer>