<app-page-header [config]="headerConfig"></app-page-header>


<ion-content [fullscreen]="true">
  <div>
    <ion-toolbar *ngIf="isMentor">
      <ion-segment [value]="segment" swipeGesture="true" (ionChange)="segmentChanged($event)">
        <ion-segment-button value="mentor">
          <ion-label class="segment-label">{{'AS_A_MENTOR' | translate}}</ion-label>
        </ion-segment-button>
        <ion-segment-button value="mentee">
          <ion-label class="segment-label">{{'AS_A_MENTEE' | translate}}</ion-label>
        </ion-segment-button>
      </ion-segment>
    </ion-toolbar>
    <div  class="main-wrapper">
      <ion-row class="stat-row">
        <ion-col>
          <p class="dashboard-title">{{'SESSION_OVERVIEW' | translate}}</p>
        </ion-col>
        <ion-col>
          <div class="filter">
            <app-filter [defaultValue]="'WEEKLY'" [filter]="filter" (filterChange)="filterChangeHandler($event)">
            </app-filter>
          </div>
        </ion-col>
      </ion-row>

      <div [ngSwitch]="segment"  *ngIf="dataAvailable">
        <div *ngSwitchCase="'mentor'">
          <ion-row class="stat-box">
            <ion-col class="bg-lite">
              <p class="stat-title">
                {{'TOTAL_SESSION_CREATED' | translate}}
                <span>{{chartData.chart.data.datasets[0].data[0]}}</span>
              </p>
            </ion-col>
            <ion-col size=".5">
            </ion-col>
            <ion-col class="bg-lite">
              <p class="stat-title">
                {{'TOTAL_SESSION_CONDUCTED' | translate}}
                <span>{{chartData.chart.data.datasets[0].data[1]}}</span>
              </p>
            </ion-col>
          </ion-row>
          <sl-pie-chart *ngIf="!loading" [data]="chartData"></sl-pie-chart>
        </div>
        <div *ngSwitchCase="'mentee'">
          <ion-row class="stat-box">
            <ion-col class="bg-lite">
              <p class="stat-title">
                {{'TOTAL_SESSION_ENROLLED' | translate}}
                <span>{{chartData.chart.data.datasets[0].data[0]}}</span>
              </p>
            </ion-col>
            <ion-col size=".5">
            </ion-col>
            <ion-col class="bg-lite">
              <p class="stat-title">
                {{'TOTAL_SESSION_ATTENDED' | translate}}
                <span>{{chartData.chart.data.datasets[0].data[1]}}</span>
              </p>
            </ion-col>
          </ion-row>
          <div *ngIf="chartData">
            <sl-pie-chart *ngIf="!loading" [data]="chartData"></sl-pie-chart>
          </div>
        </div>
      </div>
      <div class="empty-state-container" *ngIf="!dataAvailable && !loading">
        <app-no-data-found [messageHeader]="'NO_DATA_AVAILABLE'"></app-no-data-found>
      </div>
    </div>

  </div>
</ion-content>

<ion-footer class="ion-no-border">
</ion-footer>