.main-wrapper{
    margin : 20px 25px 0px 25px
}

.empty-state-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    margin-top: 20%;
}
.dashboard-title {
    margin: 0;
    font-size: 15px;
    font-weight: 900;
}

.stat-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 25px;
}

.stat-title {
    color: var(--ion-color-primary);
    margin: 0;
    font-size: 13px;
    display: flex;
    flex-direction: column;
}

.bg-lite {
    background: var(--light-gray);
}

.stat-box {
    display: flex;
    gap: 3%;
}

.stat-filter {
    font-size: 14px;
    padding: 0;
}

.segment-label{
    font-weight: bold;
    text-transform: none;
}
.filter{
  margin-left: 18%;
  margin-right: 5%;
  border: 1px solid var(--gray);
  border-radius: 7px;
}

.my-chart {
    padding-top: 25px;
  }


.select-role{
    width: 100%;
    padding: 0 5% 0 5%;
    align-items: center;
}

.inner-div-style{
    margin: 2% 4%;
    background-color: var(--light-gray);
    border-radius: 18px;
    padding: 14px;
}
  
.no-label-item ion-select {
    width: 100%;
}

.no-label-item {
  --border-color: var(--gray);
  --border-width: 1px;
  transition: box-shadow 0.2s ease;
}

.no-label-item:hover,
.no-label-item.ion-focused,
.no-label-item.item-has-focus {
  --border-color: var(--ion-color-primary);
}

.no-label-item:hover::part(native),
.no-label-item.ion-focused::part(native),
.no-label-item.item-has-focus::part(native) {
  border-color: var(--gray);
}
  

.custom-border-radius {
    border-radius: 8px;
    overflow: hidden;
    --background: var(--white);
    --border-color: var(--gray);
  }
  
  
  .custom-border-radius::part(native) {
    border-radius: 8px;
    background-color: var(--white);
  }
  
  .custom-height{
    --min-height: 10%;
  }
h3{
    margin-bottom: 5px !important;
}

.filter-column{
    padding: 10px !important;
}
  
