/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import "~@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

:root {
  --ion-default-font: "NotoSans-Regular";
  --ion-font-family: "NotoSans-Regular";
  --ion-color-primary: #832215;
  --white:#fff;
  --black:#000;
  --gray:#ccc;
  --light-gray:#f4f2f2;
  --dark-gray:#6a6a6a;
  --yellow:#ffab00;
  --quill-grey:#cac7c1;
  --grey-shade:#686762;
  --grey-medium:#4a4f57;

}

//flex
.d-flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

h5 , h4, h3, h2, h1 {
  font-family: "NotoSans-Bold";
}

.header-md::after{
  background-image:none ;
}
.flex-justify-center {
  justify-content: center;

}

.flex-justify-start {
  justify-content: start;
}

.flex-justify-space-between {
  justify-content: space-between;
}
.flex-align-items-center{
  align-items: center;
}

//margins
.my-30 {
  margin: 30px 0;
}
.my-20 {
  margin: 20 0;
}
.my-50 {
  margin: 50px 0;
}

.mx-10 {
  margin:0 10px;
}

.mx-0 {
  margin-left: 0;
  margin-right: 0;
}
//padding
.p-20{
  padding: 20px;
}
.header-md::after {
  background-image: none;
}

.header-bottom-border {
  border-bottom-left-radius: 30px;
  ion-searchbar {
    --border-radius: 10px;
    padding: 5px 0px;
  }
}
ion-card-title{
  font-size: 18px;
}
.ellipsis{
  overflow: hidden;
  text-overflow: ellipsis;
}
ion-button{
  text-transform: capitalize;
}

.btn-valid {
  ion-button {
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    // margin: 0 15px;
  }
}

.btn-disabled {
  ion-button {
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    --background: var(--quill-grey);
    --color: var(--black);
   }
}

.alert-button-group.sc-ion-alert-md{
  display: flex;
  justify-content: space-between;
}
.alert-wrapper.sc-ion-alert-md{
  border-radius: 8px;
}