/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import "~@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

:root {
  --ion-color-primary: #832215;
  --white:#fff;
  --black:#000;
  --gray:#ccc;
  --light-gray:#f4f2f2;
  --dark-gray:#6a6a6a;
}

//flex
.d-flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.flex-justify-center {
  justify-content: center;
}

.flex-justify-start {
  justify-content: start;
}

.flex-justify-space-between {
  justify-content: space-between;
}
.flex-align-items-center{
  align-items: center;
}

//margins
.mx-30 {
  margin: 30px 0;
}

.header-md::after {
  background-image: none;
}

.header-bottom-border {
  border-bottom-left-radius: 30px;
  ion-searchbar {
    --border-radius: 10px;
    padding: 5px 0px;
  }
}
