/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import "~@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";
@import '@angular/material/prebuilt-themes/indigo-pink.css';


:root {
  --ion-default-font: "NotoSans-Regular";
  --ion-font-family: "NotoSans-Regular";
  --ion-color-primary: #024BA3;
  --red: rgb(255, 0, 0);
  --white:#fff;
  --black:#000;
  --gray:#ccc;
  --light-gray:#f4f2f2;
  --dark-gray:#6a6a6a;
  --yellow:#ffab00;
  --quill-grey:#cac7c1;
  --grey-shade:#686762;
  --grey-medium:#4a4f57;
  --dark-grey:rgb(49, 52, 59);
  --green: rgb(20, 189, 20);
  input:-webkit-autofill {
    height: 0px;
    -webkit-box-shadow:0 0 0 10px white inset;
    box-shadow: 0 0 0 15px white inset;
    -webkit-text-fill-color: black;
    font-weight: 500px;
    padding: 12px;
}

input:-webkit-autofill:focus {
    height: 0px;
    -webkit-box-shadow: 0 0 0 15px white inset;
    box-shadow: 0 0 0 15px white inset;
    -webkit-text-fill-color: black;
    font-weight: 500px;
} 

}

//flex
.d-flex {
  display: flex;
}

.d-block {
  display: block;
}

.d-inline-flex{
  display: inline-flex;
}

.flex-column {
  flex-direction: column;
}

h6, h5 , h4, h3, h2, h1 {
  font-family: "NotoSans-Bold";
}

.header-md::after{
  background-image:none ;
}
.flex-justify-center {
  justify-content: center;
}
.flex-justify-start {
  justify-content: start;
}

.flex-justify-space-between {
  justify-content: space-between;
}
.flex-justify-space-around {
  justify-content: space-around;
}
.flex-justify-flex-end {
  justify-content: flex-end;
}
.flex-align-items-center{
  align-items: center;
}
.flex-align-items-flex-start{
  align-items:flex-start;
}
.flex-align-items-flex-end{
  align-items:flex-end;
}

//margins
.my-4 {
  margin: 4px 0;
}
.my-8 {
  margin: 4px 0;
}
.my-10 {
  margin: 10px 0;
}
.my-30 {
  margin: 30px 0;
}
.my-20 {
  margin: 20px 0;
}
.my-50 {
  margin: 50px 0;
}

.mx-10 {
  margin:0 10px;
}

.mx-0 {
  margin-left: 0;
  margin-right: 0;
}
//padding
.p-20{
  padding: 20px;
}
.padding-top-10{
  padding-top: 15px !important;
}

.header-md::after {
  background-image: none;
}

.header-bottom-border {
  background-color: var( --ion-color-primary);
  color: white;
  margin-top: 0;
  border-bottom-left-radius: 30px;
}
ion-card-title{
  font-size: 18px;
}
.ellipsis{
  overflow: hidden;
  text-overflow: ellipsis;
}
ion-button{
  text-transform:none;
}

.flex-box {
  display: flex;
  align-items: center;
}

.btn-valid {
  ion-button {
    font-size: 16px;
    font-weight: bold;
    text-transform: none;
    // margin: 0 15px;
  }
}

.btn-disabled {
  ion-button {
    font-size: 16px;
    font-weight: bold;
    text-transform: none;
    --background: var(--quill-grey);
    --color: var(--black);
   }
}

.alert-button-global {
  text-transform: none !important;
  border: 1px solid #b8b8b8;
  border-radius: 4px;
  font-weight: bold;
  font-size: 12px;
  padding: 6px 21px;
}

.alert-button.sc-ion-alert-md {
  @extend.alert-button-global;
  background-color: var(--ion-color-primary);
  color: var(--white);
} 
.alert-button-bg-white{
  color: var(--ion-color-primary) !important;
  background-color: var(--white) !important;
}

.alert-button-role-cancel.sc-ion-alert-md  {
  background-color: var(--white);
  color: var(--ion-color-primary);
}

.alert-button-group.sc-ion-alert-md{
  display: flex;
}
.alert-wrapper.sc-ion-alert-md{
  border-radius: 8px;
}
.alert-button-red.sc-ion-alert-md{
  background-color: var(--ion-color-primary) !important;
  color: var(--white);
  @extend.alert-button-global;
}
.links{
  text-decoration: none;
  color: blue !important;
}

.ellipsis{
  overflow: hidden;
  text-overflow:ellipsis;
  font-size: large;
  white-space: nowrap;
}

.onboard-button{
  width: 80%;
  height: 46px;
  font-size: 16px;
  font-weight: bold;
  text-transform: none;
}

.text-green{
  color: rgb(58, 199, 15);
}
.chip-label{
  overflow:visible !important;
}
.star-icon-red{
  color: red;
  font-size: 13px;
}
ion-modal.stack-modal {
  --background: rgba(0, 0, 0, 0.5) !important;
  .ion-page{
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
.card-shadow-bottom{
  box-shadow: 2px 2px 10px 2px var(--gray);    
}
ion-accordion-group{
  ion-accordion {
      .ion-accordion-toggle-icon {
          font-size: 30px;
          color: grey;
      }
  }
}

//////////////


.example-modal {
  --width: fit-content;
  --min-width: 400px;
  --height: fit-content;
  --border-radius: 6px;
  --box-shadow: 0 28px 48px rgba(0, 0, 0, 0.4);
}

.example-modal .wrapper {
  margin-bottom: 10px;
}
ion-toast.custom-toast::part(button) {
  border-radius: 5px;
  background-color: #39a464;
  font-size: 15px;
  text-transform: none;
}
ion-toast.custom-toast{
  --background: var(--ion-color-primary);
}

@media (max-width: 991px) {
  .hide-on-small-screen {
    display: none;
  }
  .example-modal{
    --min-width: 300px;
  }
}

@media (min-width: 992px) {
  .hide-on-large-screen {
    display: none;
  }
  .width-20 {
    width:20%
  }
}

ion-searchbar {
  padding: 0px 5px 0px 0px!important;
  .searchbar-input-container {
      input{
          font-size: 16px !important;
          padding: 5px 14px 5px 45px !important;
      }
  }
}

::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}

::ng-deep .mat-form-field-appearance-outline.mat-form-field-disabled, ::ng-deep .mat-form-field-outline {
  opacity: 0 !important;
  }

  .mat-form-field-flex {
    background: transparent !important;
  }

  .mat-form-field-underline {
    display: none !important; /* Hide the underline */
  }

  .mat-form-field-wrapper{
    padding-bottom: 10px !important;
  }

  .footer-button{
    ion-button {
        height: 50px;
        font-weight: bold;
      }
}

.large-width-popover-config {
  --min-width: 95%;
  --min-height: 95%;
  --border-radius: 6px;
  --box-shadow: 0 28px 48px rgba(0, 0, 0, 0.4);
}

.small-width-popover-config {
  --min-width: 65%;
  --border-radius: 6px;
  --box-shadow: 0 28px 48px rgba(0, 0, 0, 0.4);
}

.filter-modal{
  --max-height:430px;
  --max-width: 300px;
  --border-radius: 6px;
  --box-shadow: 0 28px 48px rgba(0, 0, 0, 0.4);
}
@media (max-width: 1000px) {
  .large-width-popover-config {
    --min-width: 100%;
    --min-height: 100%;
  }
  .small-width-popover-config {
    --min-width: 100%;
    --min-height: 100%;
  }
}

.user-role-modal{
  --max-height:350px;
  --max-width: 300px;
  --border-radius: 6px;
  --box-shadow: 0 28px 48px rgba(0, 0, 0, 0.4);
}