<app-page-header [config]="headerConfig"></app-page-header>

<ion-content class="ion-padding">
  <div class="profile-container" *ngIf="apiResponse">
    <ion-avatar class="profile-avatar">
      <img [src]="apiResponse?.user_details?.image || 'assets/prof-img/user.png'" alt="Profile Picture" />
    </ion-avatar>    

    <h2 class="profile-name">{{apiResponse?.user_details?.name | titlecase}}</h2>
    <p class="profile-description">
      <ng-container *ngIf="apiResponse?.user_details?.designation?.length">
        <ng-container *ngFor="let item of apiResponse.user_details.designation let last = last">
          {{ item.label | titlecase }}<span *ngIf="!last">, </span>
        </ng-container>
      </ng-container>
    </p>
    <ion-button color="primary" (click)="viewProfile(apiResponse?.user_details?.user_id)">{{"VIEW_PROFILE" | translate}}</ion-button>
    <ion-text class="description">
      <h2 class="text-left">{{"AGENDA" | translate }}</h2>
      <p style="margin: 0px;" class="text-left">
        {{ showFullText ? (apiResponse.agenda |  titlecase)  : (apiResponse.agenda |  titlecase | slice:0:150 ) }}{{ apiResponse.agenda.length > 150 && !showFullText ? '...' : '' }}
      </p>
    </ion-text>

    <ion-label
      *ngIf="apiResponse.agenda.length > 150" 
      class="viewMore"
      (click)="toggleText()">
      {{ showFullText ? 'View Less' : 'View More' }}
    </ion-label>    

    <p class="request-info text-left">
      {{apiResponse?.user_details?.name | titlecase}} requested a slot at<strong style="padding-left: 5px;">
        {{
           apiResponse.start_date * 1000 | date: 'dd MMM, yyyy'
        }},
        {{
          formatUnixTime(apiResponse.start_date)
        }} -
        {{
          formatUnixTime(apiResponse.end_date)
        }}
      </strong>
    </p>
    <ng-container *ngIf="apiResponse">
      <div class="text-left" *ngIf="apiResponse && apiResponse.requestor_id === apiResponse.user_details.user_id && apiResponse.status === 'ACCEPTED'">
        <h2 class="auto-margin">{{"MEETING_LINK" | translate}}</h2>
          @if (sessionDetails && sessionDetails?.meeting_info?.value === 'Zoom') {
            <div>
              <ion-label>{{"MEETING_TAKE_PLACE" | translate}} <b>{{sessionDetails?.meeting_info?.platform}}</b></ion-label><br>
              <ion-label>{{"MEETING_ID" | translate}} : {{sessionDetails?.meeting_info?.meta?.meetingId}}</ion-label><br>
              <ion-label>{{"PASSCODE" | translate}} : {{sessionDetails?.meeting_info?.meta?.password}}</ion-label>
            </div>
          } @else if (sessionDetails?.meeting_info?.value === 'Gmeet') {
            <div>
              <ion-label>
                {{sessionDetails?.meeting_info?.platform}} : {{sessionDetails?.meeting_info?.link}}
              </ion-label>
            </div>
          } @else if(sessionDetails?.meeting_info?.value === 'Whatsapp') {
            <div>
              <ion-label>
                {{sessionDetails?.meeting_info?.platform}} : {{sessionDetails?.meeting_info?.link}}
              </ion-label>
            </div>
          } @else if(sessionDetails?.meeting_info?.value === 'BBB'){
            <div>
              <ion-label>
                {{sessionDetails?.meeting_info?.platform}} : {{sessionDetails?.meeting_info?.value}}
              </ion-label>
            </div>
          } @else {
            <div>
              <ion-label>
                {{sessionDetails?.meeting_info?.platform}} : {{sessionDetails?.meeting_info?.link}}
              </ion-label>
            </div>
          }
        <ion-button color="primary" *ngIf="!isMeetingLinkAdded" (click)="addLink(true, apiResponse.session_id)"> {{"ADD_LINK" | translate}} </ion-button>
        <ion-button color="primary" *ngIf="isMeetingLinkAdded" (click)="editLink(true, apiResponse.session_id)"> {{"EDIT_LINK" | translate}} </ion-button>
      </div>

      <ion-chip color="warning" style="color: var(--black); background-color: #fdf6b4; margin-bottom: 2%;">
        <ion-icon name="alert-circle"></ion-icon>
        @if (isRejected) {
          <ion-label class="text-left">{{"SLOT_REJECT" | translate}}</ion-label>
        } @else if (isAccepted) {
          <ion-label class="text-left">{{"START_BTN_ENABLE" | translate}}</ion-label>
        } @else if (apiResponse && apiResponse.user_details.user_id === apiResponse.requestor_id) {
          <ion-label class="text-left">{{"SLOT_AVAILABLE" | translate}}</ion-label>
        } @else {
          <ion-label class="text-left"> {{ "PENDING" | translate}}</ion-label>
        }
      </ion-chip>
      
      <ion-modal #modal [isOpen]="isModalOpen" [backdropDismiss]="false" *ngIf="sessionDetails && scheduledSessionDetals.length > 0 && apiResponse && apiResponse.user_details.user_id === apiResponse.requestor_id">
        <ng-template>
          <ion-content>
            <ion-list>
              <ion-card  class="form-content">
                <ion-card-header>
                  <ion-card-title class="ion-text-center card-title">{{"SELECT_MEETING_PLATFORM" | translate}}</ion-card-title>
                </ion-card-header>
                <ion-card-content>
                  <ion-list>
                    <ion-select #link class="select" [(ngModel)]="selectedLink" interface="popover" (ionChange)="clickOptions($event)" [compareWith]="compareWithFn" [value]="selectedLink">
                      <ion-select-option [value]="option" *ngFor="let option of meetingPlatforms">
                        {{ option.name }}
                      </ion-select-option>
                    </ion-select>
                    <ion-item lines="none">
                      <ion-icon class="hint-icon" name="alert-circle"></ion-icon>
                      <ion-label class="hint-label">{{selectedHint}}</ion-label>
                    </ion-item>
                  </ion-list>
                  <div *ngFor="let option of meetingPlatforms">
                    <app-dynamic-form *ngIf="selectedLink==option" [jsonFormData]="option?.form" #platformForm></app-dynamic-form>
                </div>
                </ion-card-content>
              </ion-card>
            </ion-list>
          </ion-content>
          <ion-footer>
            <ion-toolbar>
              <div class="w-full flex flex-justify-flex-end">
                <ion-button color="primary"[disabled]="platformForm && !platformForm.myForm.valid" (click)="addNow()">{{"ADD_NOW" | translate}}</ion-button>
                <ion-button color="primary" (click)="addLater()">{{"ADD_LATER" | translate}}</ion-button>
              </div>
            </ion-toolbar>
          </ion-footer>
        </ng-template>
      </ion-modal>
      <mat-accordion *ngIf="scheduledSessionDetals && scheduledSessionDetals.length > 0 && apiResponse && apiResponse.user_details.user_id === apiResponse.requestor_id">
        <mat-expansion-panel style="background: #f3f3f3;">
          <mat-expansion-panel-header>
            <mat-panel-title>
              <ion-icon size="large" name="calendar-outline"></ion-icon>
            </mat-panel-title>
            <mat-panel-description style="font-size: large;">
              {{"SCHEDULE" | translate}}
            </mat-panel-description>
          </mat-expansion-panel-header>
          <div class="timeline" *ngFor="let event of scheduledSessionDetals">
            <div class="timeline-date" >
                {{event.date}}
            </div>
           
           <div class="timeline-description">
            <div style="position: relative; width: 5%; display: flex; justify-content: center;">
              <div class="timeline-dot"></div>
              <div class="timeline-line"></div>
            </div>
            <div class="timeline-cards">
              <div class="timeline-card" *ngFor="let event of event.bookedSlots">

                <ion-row class="px-4">
                  <ion-col size="3">
                    <p class="margin-none text-left ">{{  formatUnixTime(event?.startTime)  }}</p> <br />
                    <p class="margin-none text-left ">{{ formatUnixTime(event?.endTime) }}</p>
                  </ion-col>
                  <ion-col size="9" class="d-flex  ion-align-items-center"> <h3 class="margin-none session-title text-left">{{event?.title | titlecase}}</h3> </ion-col>
                </ion-row>
            </div>
            </div>
           
           
           </div>
             
            
          
          </div>
          
        </mat-expansion-panel>
      </mat-accordion>
    </ng-container>
  </div>
</ion-content>
<ion-footer class="ion-no-border footer-button" *ngIf="apiResponse && apiResponse.user_details.user_id === apiResponse.requestor_id && apiResponse.status !== 'REJECTED'">
  <ion-toolbar>
    <ng-container *ngIf="!isAccepted && apiResponse.status === 'REQUESTED'; else templateA">
      <div class="w-full flex flex-justify-space-around">
        <ion-button shape="round" color="light" (click)="accept(apiResponse?.id)" class="height-0">
          <ion-icon style="color: var(--green);" name="checkmark-outline" slot="start"></ion-icon> {{"ACCEPT" | translate}}
        </ion-button>
        <ion-button shape="round" color="light" (click)="reject(apiResponse?.id, apiResponse?.user_details?.name)" class="height-0">
          <ion-icon style="color:  var(--red);" name="checkmark-outline" slot="start"></ion-icon> {{"REJECT" | translate}}
        </ion-button>
      </div>
    </ng-container> 
    <ng-template #templateA>
        <ion-button *ngIf="sessionDetails?.status?.value=='PUBLISHED' || sessionDetails?.status?.value=='LIVE'" expand="full"
        (click)="onStart(sessionDetails?.id)" [disabled]="!isEnabled">{{"START_SESSIONS" | translate}}
      </ion-button>
    </ng-template>
  </ion-toolbar>
</ion-footer>


