.card-content {
    width: 160px;
    border-radius: 12px;
    box-shadow: none;
    margin: auto;
}
.image-content {
    height: 120px;
    border-radius: 12px;
}
ion-card-content {
    text-align: left;
    padding: 10px 5px 6px 4px;
    color: black;
}