<ion-card class="mentor-card" (click)="onAction(data,'dataSelected')">
  <ion-card-content class="ion-no-padding">
      <ion-row>
        <ion-col size=2 class="date-box">
          27 Tue
        </ion-col>
        <ion-col size=5>
          <ion-card-title>
            {{data?.title}}
          </ion-card-title>
          <ion-card-subtitle class="ellipsis">
            {{data?.description}}
          </ion-card-subtitle>
        </ion-col>
        <ion-col size=4 class="action-box" *ngIf="showEdit">
          {{'EDIT' | translate}} <ion-icon name="caret-forward-outline" color="primary"
            (click)="$event.stopPropagation(); onAction(data,'edit')"></ion-icon>
        </ion-col>
        <ion-col size=4 class="action-box" *ngIf="showStart;else elseBlock">
          <ion-button shape="round">{{ "START" | translate }}</ion-button>
        </ion-col>
        <ion-col size=1 class="action-box">
          <ion-icon name="caret-forward-outline" color="primary"
            (click)="$event.stopPropagation(); onAction(data,'edit')"></ion-icon>
        </ion-col>
      </ion-row>
  </ion-card-content>
</ion-card>