<ion-card class="mentor-card" (click)="onCardClick(data)">
  <ion-card-content class="ion-no-padding">
    <ion-row class="d-flex flex-justify-center flex-align-items-center">
      <ion-col size=2 class="date-box">
        {{data.startDateTime | date: 'dd ccc'}}
      </ion-col>
      <ion-col size=5>
        <div>
          <ion-card-title>
            <div class="ellipsis">
              {{data?.title}}
            </div>
          </ion-card-title>
          <ion-card-subtitle class="session-status">
            {{data?.status}}
          </ion-card-subtitle>
        </div>
      </ion-col>
      <ion-col size=4 class="action-box" *ngIf="buttonConfig;else elseBlock">
        <ion-button shape="round" (click)="$event.stopPropagation(); onAction(data, 'data selected')">
          {{buttonConfig?.label | translate}}</ion-button>
      </ion-col>
      <ng-template #elseBlock>
        <ion-col size=4 class="action-box">
        </ion-col>
      </ng-template>
      <ion-col size=1 class="action-box icon-top-margin">
        <ion-icon name="caret-forward-outline" color="primary"
          (click)="$event.stopPropagation(); onAction(data,'edit')"></ion-icon>
      </ion-col>
    </ion-row>
  </ion-card-content>
</ion-card>