<app-page-header [config]="headerConfig"></app-page-header>
<ion-content [fullscreen]="true">
    <div class="main-wrapper" *ngIf="formData && formData.data">
        <app-profile-image [profileImageData]='formData.data' [showProfileDetails]='showProfileDetails' [username]='username'></app-profile-image>
        <div *ngIf="showProfileDetails && formData?.data?.about; else elseBlock">
            <div class="d-flex flex-justify-center">
                <ion-button shape="round" (click)="editProfile()">{{ "EDIT" | translate }}</ion-button>
            </div>
            <app-generic-details [sessionData]='formData'></app-generic-details>
        </div>
        <ng-template #elseBlock>
            <p class="no-details-message">{{ "NO_USER_DETAILS_FOUND" | translate }}</p>
            <div class="d-flex flex-justify-center">
                <ion-button shape="round" (click)="editProfile()">{{ "EDIT_PROFILE" | translate }}</ion-button>
            </div>
        </ng-template>
    </div>
</ion-content>