<app-page-header [config]="headerConfig"></app-page-header>
<ion-content [fullscreen]="true" *ngIf="profileImageData && formData">
    <div class="main-wrapper">
        <app-profile-image [profileImageData]='profileImageData'></app-profile-image>
        <div>
            <app-dynamic-form [jsonFormData]="formData" #form1> </app-dynamic-form>
        </div>
    </div>
</ion-content>
<ion-content>
    <ion-button shape="round" expand="full" (click)="editProfile()">Edit Profile</ion-button>
    <ion-button shape="round" expand="full" (click)="feedback()">Feed Back</ion-button>
</ion-content>