.no-details-message{
    color: var(--ion-color-primary);
    font-size:larger;
    text-align: center;
}
.card-header-config{
    font-size: 14px;
    font-weight: bold;
    color: var( --grey-medium)
}
.card-value-config{
    font-size: 18px;
    font-weight: bold;
    color: var( --grey-medium)
}
ion-card{
    border-radius: 7px;
    margin: 20px;
    ion-card-content{
        padding: 6px;
    }
}
.card-wrapper{
    margin-top: 5%;
}
.details-wrapper{
    margin-top: 3%;
}
ion-row{
    height: 40px;
}