.container {
  margin-top: 10px;
  height: 100%;
}
.accordion-container {
  border-bottom: rgb(223, 221, 221) solid;
  padding: 5px;
}
ion-button {
  height: 50px;
  font-weight: bold;
}
.content{
  font-size: 14px;
}