<div>
  <div
    class="d-flex flex-justify-space-between flex-align-items-center"
    *ngIf="showSelectAll"
  >
    <ion-label>{{ label }}</ion-label>
    <ion-toggle
      [(ngModel)]="_selectAll"
      (ngModelChange)="selectAll()"
      [disabled]="disabled"
    ></ion-toggle>
  </div>
  <div>
    <ion-chip
      (click)="onChipClick(chip.value)"
      *ngFor="let chip of chips"
      [ngClass]="selectedChips.has(chip.value) ? 'selected-chip' : ''"
    >
      <ion-icon name="add" *ngIf="!selectedChips.has(chip.value)"></ion-icon>
      <ion-icon name="close-circle" color="white" *ngIf="selectedChips.has(chip.value)"></ion-icon>
      <ion-label>{{ chip.label }}</ion-label>
    </ion-chip>
  </div>
</div>
