.selected-chip{
    --background:var(--ion-color-primary);
    --color:var(--white);
}
.toggle{
    width: 100%;
    display: flex;
    justify-content: flex-end;
}
.head-label{
    overflow: visible !important;
    font-weight: bold;
    color: var(--grey-medium);
 }
.icon{
    font-size: smaller;
}