<div>
  <div
    class="d-flex flex-align-items-center"
    *ngIf="showSelectAll"
  >
    <ion-label class="head-label">{{ label }} <span *ngIf="validators['required']==true" class="star-icon-red">*</span></ion-label>
    <div class="toggle">
    <ion-toggle
      [(ngModel)]="_selectAll"
      (ngModelChange)="selectAll()"
      [disabled]="disabled"
    ></ion-toggle>
    </div>
  </div>
  <div>
    <ion-chip
      (click)="onChipClick(chip)"
      *ngFor="let chip of chips" 
      [ngClass]="selectedChips.has(chip) ? 'selected-chip' : ''"
    >
      <ion-icon name="add" *ngIf="!selectedChips.has(chip)"></ion-icon>
      <ion-icon name="close-circle" color="white" *ngIf="selectedChips.has(chip)"></ion-icon>
      <ion-label class="chip-label">{{ chip.label }}</ion-label>
    </ion-chip>
    <ion-chip *ngIf="allowCustomEntities" (click)="addNewOption()">
      <ion-icon name="add"></ion-icon>
      <ion-label> {{ !showAddOption?.addChipLabel ? ("ADD"| translate) : showAddOption?.addChipLabel | translate}}</ion-label>
    </ion-chip>
  </div>
</div>
