<div>
  @if (showSelectAll) {
  <div class="d-flex flex-align-items-center p-rel">
    <ion-label class="head-label">
      {{ label }} @if (isRequired) {<span class="star-icon-red">*</span>}
    </ion-label>
    <div class="toggle" >
    <ion-toggle
      slot="end"
      [(ngModel)]="_selectAll"
      (ngModelChange)="selectAll()"
      [disabled]="disabled"
    ></ion-toggle>
    </div>
  </div>
  }
  <div>
    @for (chip of chips; track (chip?.value || chip?.label || chip || 'chip') + '-' + $index) {
    @let isSelected = selectedChips.has(chip);
    <ion-chip
      (click)="onChipClick(chip)"
      [ngClass]="isSelected ? 'selected-chip' : ''"
    >
      @if (!isSelected) {
      <ion-icon name="add"></ion-icon>
      }
      @if (isSelected && !disabled) {
      <ion-icon name="close-circle" color="white"></ion-icon>
      }
      <ion-label class="chip-label word-break">{{ chip.label }}</ion-label>
    </ion-chip>
    }
    @if (allowCustomEntities) {
    <ion-chip (click)="addNewOption()">
      <ion-icon name="add"></ion-icon>
      <ion-label> {{ addChipLabelKey | translate }}</ion-label>
    </ion-chip>
    }
  </div>
</div>
