<app-page-header [config]="headerConfig">
  <ion-item color="primary">
    <ion-row class="ion-padding">
      <ion-col size="12"
        >Lorem, ipsum dolor sit amet consectetur adipisicing elit. Modi,
        sequi</ion-col
      >
      <ion-col size="12">
        <ion-searchbar placeholder="Search Favorites"></ion-searchbar>
      </ion-col>
    </ion-row>
  </ion-item>
</app-page-header>
<ion-content [fullscreen]="true">
  <div>
    <app-dynamic-form [jsonFormData]="formData" #form1> </app-dynamic-form>
  </div>
</ion-content>

<ion-footer class="ion-no-border" submitButton>
  <ion-toolbar>
    <ion-button slot="end" (click)="onSubmit()">Submit</ion-button>
    <ion-button (click)="resetForm()">Reset</ion-button>
  </ion-toolbar>
</ion-footer>
